<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		body{
			font-size: 10pt;
			font-family: arial;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			margin-top: 30px;
		}
		td{
			border: 1px solid #ccc;
			padding: 7px;
		}
		th{
			border: 1px solid #ccc;
			background-color: #32405b;
			color: #fff;
			padding: 10px;
		}
		h1{
			margin-top: 30px;
			font-size: 13pt;
			color: #5a5a5a;
		}
	</style>
</head>
<body>
	<h1>Riesgos Negativos </h1>
	<table>
		<thead>
			<tr>
				<th>VALORES</th>
				<th>NIVEL DE RIESGO</th>
				<th>DESCRIPCIÓN</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td bgcolor="#b1e7a0">0-45</td>
				<td>BAJO</td>
				<td>Riesgo insignificante que no requiere acción inmediata.</td>
			</tr>
			<tr>
				<td bgcolor="#f0f193">46-90</td>
				<td>MEDIO</td>
				<td>Se debe tomar medidas para reducir el riesgo a niveles razonablemente prácticos.</td>
			</tr>
			<tr>
				<td bgcolor="#f1c693">91-135</td>
				<td>ALTO</td>
				<td>Inaceptable, deberá implementarse un tratamiento especial para su control.</td>
			</tr>
			<tr>
				<td bgcolor="#f19393">136-180</td>
				<td>MUY ALTO</td>
				<td>Requiere acciones inmediatas con involucramiento de la Dirección General</td>
			</tr>
		</tbody>
	</table>

	<h1>Riesgos Positivos  </h1>
	<table>
		<thead>
			<tr>
				<th>VALORES</th>
				<th>NIVEL DE RIESGO</th>
				<th>DESCRIPCIÓN</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td bgcolor="#77b672">136-180</td>
				<td>BAJO</td>
				<td>Riesgo insignificante que no requiere acción inmediata.</td>
			</tr>
			<tr>
				<td bgcolor="#8ee587">91-135</td>
				<td>MEDIO</td>
				<td>Se debe tomar medidas para reducir el riesgo a niveles razonablemente prácticos.</td>
			</tr>
			<tr>
				<td bgcolor="#87d9e5">46-90</td>
				<td>ALTO</td>
				<td>Inaceptable, deberá implementarse un tratamiento especial para su control.</td>
			</tr>
			<tr>
				<td bgcolor="#87ade5">0-45</td>
				<td>MUY ALTO</td>
				<td>Requiere acciones inmediatas con involucramiento de la Dirección General</td>
			</tr>
		</tbody>
	</table>
</body>
</html>