<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		body{
			font-size: 10pt;
			font-family: arial;
		}

		table{
			width: 100%;
			border-collapse: collapse;
			margin-top: 30px;
		}
		td{
			border: 1px solid #ccc;
			padding: 7px;
		}
		th{
			border: 1px solid #ccc;
			background-color: #32405b;
			color: #fff;
			padding: 10px;
		}
		h1{
			margin-top: 30px;
			font-size: 13pt;
			color: #5a5a5a;
		}
		.encabezado table{
			margin-top: 0;
		}
		.encabezado td{
			text-align: center;
			padding: 30px 0;
			font-size: 10pt;
			border: 1px solid #ccc;
		}
		.tabla_verde th{
			background-color: #3e7e3c;
		}
		.idYproceso{
			width: 60px;
		}
		.grafico td{
			border: none;
			height: 50px;
		}
		.grafico table{
			border-bottom: 3px solid #000;		
		}
		.ultima th{
			background-color: #499c9c;
		}
	</style>
</head>
<body>
	<div class="encabezado">
		<table width="100%">
			<tr>
				<td width="30%"><img src="i"></td>
				<td><h1>Análisis de impacto al negocio (BIA)</h1></td>
				<td width="30%">F-SGI-028 V1 <br>
				19 febrero 2019</td>
			</tr>
		</table>
	</div>
	<div class="tabla_verde">
		<table>
			<thead>
				<tr>
					<th class="idYproceso">ID Riesgo </th>
					<th class="idYproceso">Proceso</th>
					<th>Activo</th>
					<th>Responsable del proceso</th>
					<th>Amenaza</th>
					<th>vulnerabilidad</th>
					<th>Descripción del Riesgo (positivo/negativo)</th>
					<th>Tipo de riesgo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">9001:2015</th>
				</tr>
				<tr>
					<th>Estrategia de Negocio</th>
					<th>Calidad de servicio</th>
					<th>Cliente</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">20000-1:2018</th>
				</tr>
				<tr>
					<th>Disponibilidad</th>
					<th>Niveles de Servicio</th>
					<th>Continuidad BCP</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">27001:2013</th>
					<th rowspan="2">Resultado de la ponderación por Factores</th>
				</tr>
				<tr>
					<th>Confidencialidad</th>
					<th>Integridad</th>
					<th>Disponibilidad</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">EVALUACIÓN DE RIESGO INICIAL</th>
					<th rowspan="2">Riesgo Total </th>
				</tr>
				<tr>
					<th>Probabilidad</th>
					<th>Impacto</th>
					<th>Nivel de Riesgo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">9001:2015</th>
				</tr>
				<tr>
					<th>Estrategia de Negocio</th>
					<th>Calidad de servicio</th>
					<th>Cliente</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">20000-1:2018</th>
				</tr>
				<tr>
					<th>Disponibilidad</th>
					<th>Niveles de Servicio</th>
					<th>Continuidad BCP</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">27001:2013</th>
					<th rowspan="2">Resultado de la ponderación por Factores </th>
				</tr>
				<tr>
					<th>Confidencialidad</th>
					<th>Integridad</th>
					<th>Disponibilidad</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th rowspan="2" class="idYproceso">ID Riesgo</th>
					<th rowspan="2" class="idYproceso">Proceso</th>
					<th colspan="3">EVALUACIÓN DE RIESGO TOTAL</th>
					<th rowspan="2">Riesgo Residual </th>
				</tr>
				<tr>
					<th>Probabilidad</th>
					<th>Impacto</th>
					<th>Nivel de Riesgo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		
	</div>

	<h1>Riesgos Negativos </h1>
	<table>
		<thead>
			<tr>
				<th>VALORES</th>
				<th>NIVEL DE RIESGO</th>
				<th>DESCRIPCIÓN</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td bgcolor="#b1e7a0">0-45</td>
				<td>BAJO</td>
				<td>Riesgo insignificante que no requiere acción inmediata.</td>
			</tr>
			<tr>
				<td bgcolor="#f0f193">46-90</td>
				<td>MEDIO</td>
				<td>Se debe tomar medidas para reducir el riesgo a niveles razonablemente prácticos.</td>
			</tr>
			<tr>
				<td bgcolor="#f1c693">91-135</td>
				<td>ALTO</td>
				<td>Inaceptable, deberá implementarse un tratamiento especial para su control.</td>
			</tr>
			<tr>
				<td bgcolor="#f19393">136-180</td>
				<td>MUY ALTO</td>
				<td>Requiere acciones inmediatas con involucramiento de la Dirección General</td>
			</tr>
		</tbody>
	</table>

	<h1>Riesgos Positivos  </h1>
	<table>
		<thead>
			<tr>
				<th>VALORES</th>
				<th>NIVEL DE RIESGO</th>
				<th>DESCRIPCIÓN</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td bgcolor="#77b672">136-180</td>
				<td>BAJO</td>
				<td>Riesgo insignificante que no requiere acción inmediata.</td>
			</tr>
			<tr>
				<td bgcolor="#8ee587">91-135</td>
				<td>MEDIO</td>
				<td>Se debe tomar medidas para reducir el riesgo a niveles razonablemente prácticos.</td>
			</tr>
			<tr>
				<td bgcolor="#87d9e5">46-90</td>
				<td>ALTO</td>
				<td>Inaceptable, deberá implementarse un tratamiento especial para su control.</td>
			</tr>
			<tr>
				<td bgcolor="#87ade5">0-45</td>
				<td>MUY ALTO</td>
				<td>Requiere acciones inmediatas con involucramiento de la Dirección General</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>IMPACTO DEL FACTOR</th>
				<th>VALORES</th>
				<th>DESCRIPCIÓN	</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Estrategia de Negocio</td>
				<td>11.11</td>
				<td>Afecta directamente los resultados esperados por la empresa	</td>
			</tr>
			<tr>
				<td>Calidad de producto</td>
				<td>11.11</td>
				<td>Afecta directamente a la entrega del servicio brindado 	</td>
			</tr>
			<tr>
				<td>Cliente</td>
				<td>11.11</td>
				<td>Afecta los requerimientos y satisfacción del cliente	</td>
			</tr>
			<tr>
				<td>Disponibilidad</td>
				<td>11.11</td>
				<td>Impacta la disponibilidad de los servicios de acuerdo con lo establecido contractualmente	</td>
			</tr>
			<tr>
				<td>Niveles de Servicio</td>
				<td>11.11</td>
				<td>Afectación en el cumplimiento de los niveles de servicio establecidos contractualmente (SLA)	</td>
			</tr>
			<tr>
				<td>Continuidad del servicio (BCP)</td>
				<td>11.11</td>
				<td>Divulgación de información 	</td>
			</tr>
			<tr>
				<td>Confidencialidad info</td>
				<td>11.11</td>
				<td>Divulgación de información 	</td>
			</tr>
			<tr>
				<td>Integridad info</td>
				<td>11.11</td>
				<td>Alteraciones o manipulaciones en la información	</td>
			</tr>
			<tr>
				<td>Disponibilidad info</td>
				<td>11.11</td>
				<td>Que la información no esté en tiempo cuando sea requerida 	</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="3">"Probabilidad <br> (ALTA, MEDIA Y BAJA)"</th>
			</tr>
			<tr>
				<th>PROBABILIDAD</th>
				<th>VALORES</th>
				<th>DESCRIPCIÓN	</th>
			</tr>
		</thead><
		<tbody>
			<tr>
				<td>ALTA</td>
				<td>9</td>
				<td>La explotación de la  amenaza puede ocurrir  en cualquier momento y/o considerando que esta situación ya se ha presentado más de tres veces al año	</td>
			</tr>
			<tr>
				<td>MEDIA</td>
				<td>6</td>
				<td>La explotación de la  amenaza puede ocurrir solo en  cualquier momento bajo determindas circunstancias y/o considerando que esta situación ya se ha presentado máximo dos veces al año	</td>
			</tr>
			<tr>
				<td>BAJA</td>
				<td>3</td>
				<td>La explotación de la  amenaza puede ocurrir solo en circunstancias excepcionales y/o se ha presentado una vez al año 	</td>
			</tr>
			<tr>
				<td>NULA</td>
				<td>0</td>
				<td>Nunca se ha presentado y su probabilidad es nula	</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="3">IMPACTO</th>
			</tr>
			<tr>
				<th>IMPACTO</th>
				<th>VALORES</th>
				<th>DESCRIPCIÓN	</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>MUY ALTO</td>
				<td>9</td>
				<td>Pone en riesgo la situación financiera e imagen de la organizaciónPone en riesgo la continuidad del negocio	</td>
			</tr>
			<tr>
				<td>ALTO</td>
				<td>6</td>
				<td>Impacta la operación de la organización, sin embargo, no afecta de manera directa al cliente	</td>
			</tr>
			<tr>
				<td>MEDIO</td>
				<td>3</td>
				<td>Desviación que puede ser tratada de manera interna a través de la mejora de procesos 	</td>
			</tr>
			<tr>
				<td>BAJO</td>
				<td>0</td>
				<td>No existe impacto en la operación de la organización	</td>
			</tr>
		</tbody>
	</table>

	<div class="grafico">
		<h1>Gráfica de Análisis de Riesgos</h1>
		<table>
			<tr>
				<td bgcolor="#ff0000"></td>
			</tr>
			<tr>
				<td bgcolor="#ff8f00"></td>
			</tr>
			<tr>
				<td bgcolor="#fff700"></td>
			</tr>
			<tr>
				<td bgcolor="#cae3bf"></td>
			</tr>
			<tr>
				<td bgcolor="#09c100"></td>
			</tr>
		</table>
	</div>

	<div class="ultima">
		<table>
			<thead>
				<tr>
					<th>ID DE RIESGO</th>
					<th>Nivel de Riesgo Inicial</th>
					<th>Nivel de Riesgo MAX</th>
					<th>Nivel de Riesgo MIN</th>
					<th>Nivel de Riesgo Efectivo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>