
@import url(https://fonts.googleapis.com/css?family=Muli:400);

.calendar,
.calendar_weekdays,
.calendar_content {
    max-width: 300px;
}

.calendar {
    margin: auto;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
    position: relative;
    overflow: hidden;
}

.calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
}

.calendar_weekdays div,
.calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 12px;
}

.calendar_content div {
    border: 1px solid transparent;
    float: left;
}

.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}

.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}

.calendar_content div.past-date {
    color: #d5d5d5;
}

.calendar_content div.today {
    font-weight: bold;
    font-size: 12px;
    color: #1040dd;
    border: 1px solid #dcdcdc;
}

.calendar_content div.selected {
    background-color: #f0f0f0;
}

.calendar_header {
    width: 100%;
    text-align: center;
}

.calendar_header h2 {
    padding: 5px 10px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #1040dd;
    float: left;
    width: 70%;
    margin: 0 0 10px;
}

button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width: 15%;
    transition: color .2s;
}

button.switch-month:hover {
    color: #1040dd;
}

.modal-dialog {
    margin-top: 170px !important;
}

.c_main,
.container-fluid {
    padding: 0 !important;
    padding-top: 0 !important;
}

.btn-silent {
    display: block;
    width: 100%;
    position: relative;
    color: #747474 !important;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
}

.btn-silent:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 5px;
    background-color: var(--color-tbj);    transition: 0.3s;
    z-index: 1;
}

.btn-silent:after {
    /*content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 5px;
                    background-color: #e6e6e6;
                    transition: 0.4s;
                    left: 0;
                    z-index: 0;*/
}

.btn-silent:hover:before {
    width: 100%;
}

.btn-silent i {
    font-size: 15pt;
}

.btn-silent span {
    position: absolute;
    left: 50px;
}

.btn-silent:hover {
    color: #345183 !important;
}

.titulo-seccion {
    font-size: 20px;
    margin-bottom: 0px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 7px;
    padding-left: 20px;
}

.titulo-seccion i {
    margin-left: -18px;
    font-size: 17pt;
}


.carousel-item {
    text-align: center;
    background-color: #f1f1f1;
}

.img_carrusel {
    height: 320px !important;
    opacity: 0.8;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: all;
}

.carousel-caption {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.carousel-inner h5 {
    text-shadow: 0px 0px 3px #000 !important;
    text-align: left;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    opacity: 0;
    transition: 0.2s;
    text-align: center;
}

.carousel-inner:hover h5 {
    opacity: 1;
}

.carousel-inner p {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    z-index: 3;
}

.carousel-indicators li {
    opacity: 1 !important;
}

.carousel-indicators li.active {
    opacity: 1 !important;
    background-color: #345183 !important;
}


.comunicado {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.comunicado {
    /*margin-top: 10px;*/
}

.img_comunicado {
    width: 33.3%;
    height: 160px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: all;
}

.text_comunicado {
    width: calc(100% - 200px);
    padding: 0 40px;

}

.text_comunicado p {
    text-align: justify;
}


.doc_publicado {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 7px;
    box-sizing: border-box;
    border-radius: 7px;
}

.doc_publicado {
    margin-top: 20px;
}

.icon_doc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.icon_doc i {
    font-size: 35pt;
    color: #1E94A8;
    transition: 0.1s;
}

.icon_doc i:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.text_doc {
    width: 60%;
}

.text_doc h5 {
    font-size: 16px;
}

.text_doc p {
    font-size: 12px;
}

.text_doc .badge {
    background-color: #1E94A8;
    color: #fff;
}

.opciones_doc {
    width: 20%;
    text-align: right;
}

.opciones_doc {
    font-size: 12px;
}

.img_empleado {
    height: 40px;
    width: auto;
    clip-path: circle(20px at 50% 50%);
}



.cuadro_empleados {
    position: sticky;
    top: 56px;
    height: auto;
    max-height: 600px;
    overflow-y: auto;
}

@media(max-with: 1000px) {
    .cuadro_empleados {
        position: relative !important;
        height: auto !important;
    }
}


.caja_nuevo {}

.nuevo {
    text-align: center;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
}

.nombre_nuevo {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: medium;
    color: var(--color-tbj);}

.img_nuevo {
    width: 100%;
    text-align: center;
}

.img_nuevo img {
    height: 50px;
    clip-path: circle(25px at 50% 50%);
}

.datos_nuevo {
    width: 100%;
    font-size: 14px !important;
    margin-top: 21px;
    font-weight: lighter;
}

.datos_nuevo h6 {
    margin: 0;
    font-weight: medium;
}

.datos_nuevo p {
    margin: 0;
    margin-bottom: 4px;
    line-height: 20px;
    margin-top: -5px;
}

.btn_link_agenda {
    all: unset;
    font-size: 11pt;
    color: var(--color-tbj);    cursor: pointer;
    transition: 0.09;
}

.opciones_felicitar {
    display: flex;
    justify-content: space-between;
}

.opciones_felicitar i {
    color: var(--color-tbj);    font-size: 15pt;
    cursor: pointer;
}

.modal-backdrop.fade.show {
    display: none !important;
}

.carrusel-modal .modal-dialog {
    margin-top: 30px !important;
}

.carousel-indicators {
    z-index: 5 !important;
}
