:root {
    --aside-width: 400px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html * {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #293c76;
    text-decoration: underline;
}

button {
    background-color: unset;
    color: unset;
    border: none;
    cursor: pointer;
}

/* login ----------- */
.content-main {
    width: 100%;
    height: 100dvh;
    display: flex;
    overflow: hidden;
}

.present-tbj {
    min-width: calc(100% - var(--aside-width));
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInContentMain 1s;
    animation-fill-mode: both;
    animation-delay: 3s;
}

.logo-box {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    border: 5px #152249 solid;
    position: relative;

    animation: logoBox 3s;
    animation-fill-mode: both;
    animation-delay: 3s;
}

.isotipo {
    width: 200px;
    padding-top: 40px;
    animation: isotipo 1s;
}

.logo-circle {
    width: 300px;
    animation: logoCircle 32s linear infinite;
}

.box-circle-color {
    animation: boxCircleColor 3s;
    animation-fill-mode: both;
    animation-delay: 3s;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.aside-tbj {
    width: var(--aside-width);
    min-width: var(--aside-width);
    background-color: rgb(216 216 224 / 50%);

    display: grid;
    place-items: center;
}

@keyframes isotipo {
    from {
        opacity: 0;
        transform: scale(0.4);
    }
}

@keyframes fadeInContentMain {
    0% {
        min-width: 100%;
    }
}

@keyframes logoCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes logoBox {
    from {
        border: 5px #00000000 solid;
    }
}

@keyframes boxCircleColor {
    from {
        opacity: 0;
    }
}
