.title-card-evaluacion {
    color: var(--color-tbj);
    font-size: 18px;
    margin: 0px;
}

.purple-info-first {
    background-color: #A271B4;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
}

.info-purple h3 {
    font-size: 20px;
}

.info-first-config {
    color: var(--color-tbj);
}

.title-config {
    font-size: 16px;
}

.info-first-config p {
    font-size: 12px;
}

.grid-config-categorias {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.anima-focus label,
.anima-focus .form-control {
    color: var(--color-tbj);}

.anima-focus .form-control {
    border: 1px solid var(--color-tbj);}

.item-config-cat i,
.btn-delete-escala i {
    font-size: 45px;
    cursor: pointer;
}

.item-config-cat:first-child .btn-delete-cat,
.item-config-escala:first-child .btn-delete-escala {
    display: none;
}

.item-cfg-num-emp {
    width: 100%;
    min-width: 50px;
    background-color: rgb(150, 150, 150);
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 12px;
}

.line-perador-config {
    position: relative;
}

.line-perador-config::before {
    content: "";
    width: 1px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #818181;
    position: absolute;
    transform: translateX(-25px);
}

#BtnAgregarObjetivo {
    background-color: #ECFBFF;
    border: 1px solid #9EB4C9;
    border-radius: 100px;
    color: var(--color-tbj);    padding: 13px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-color-empleados-number {
    width: 100%;
    height: 100px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #fff;
    background-color: azure;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-menu-card-evaluaciones {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.contetn-card-evaluaciones-config {
    width: 70%;
    text-align: center;
    margin: auto;
}

.estatus-card-evaluaciones-config {
    padding: 4px 10px;
    border-radius: 100px;
    color: #fff;
    font-size: 10px;
}

.pasos-create-evaluaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.paso-create-ev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.paso-create-ev span {
    width: 25px;
    height: 25px;
    background-color: var(--color-tbj);
    border-radius: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.pasos-create-evaluaciones hr {
    width: 60px;
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--color-tbj);    transform: translateY(-10px);
}

.nav-evaluaciones-card .nav.nav-tabs{
    justify-content: start;
}
.nav-evaluaciones-card .nav.nav-tabs .nav-link.active,
.nav-evaluaciones-card .nav.nav-tabs .nav-link{
    background-color: #fff !important;
    font-weight: bolder;
}

.nav-evaluaciones-card .nav-tabs .nav-link:not(.nav-link:first-child)::before{
    background-color: #cacaca;
}
