<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="assets/Imagen 18@2x.png" alt="png" style="width:140px; height:117px;">
    <div>Aprobación Determinación de Alcance</div>
    <div>Se ha enviado el Alcance del Sistema de Gestión para su aprobación</div>
    <div>Para ver el Alcance da clic a la siguiente liga, está te llevará directamente a la visualización del documento para su aprobación.</div>
</body>
</html>
