/node_modules
/public/hot
/public/storage
/storage/framework
/storage/app/public/BIA/signatures/
/storage/app/public/tratamiento/firmas/
/vendor
.idea
# /public/css/app.css
/public/fonts
/public/images
/public/js/app.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache/config.php

npm-debug.log
yarn-error.log
bootstrap/cache/
storage/debugbar/
storage/app/public/gantt/
.php-cs-fixer.cache

storage/logs/

*.cache

storage/app/public/activos/
storage/app/livewire-tmp/
storage/app/public/expedientes/
storage/app/public/cursos_empleados/
storage/app/public/evidencias_quejas_clientes/
storage/app/public/evidencias_quejas_clientes_cerrado/
storage/app/public/documentos_concientSgsi/
storage/app/public/documentos_control_accesos/
storage/app/public/documentos_material_sgsi/

