/node_modules
/public/hot
/public/storage
/storage/framework
/storage/app/public/BIA/signatures/
/storage/app/public/tratamiento/firmas/
/storage/app/public/FilesRevisionDireccion
/storage/app/cursos/
/vendor
.idea
# /public/css/app.css
/public/fonts
/public/images
/public/js/app.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache/config.php
composer.lock
bootstrap/cache/
storage/debugbar/
storage/app/public/gantt/
.php-cs-fixer.cache
storage/logs/laravel.log
*.cache
/storage/app/public/users-avatar/*
/storage/app/public/*
storage/app/public/activos/
storage/app/livewire-tmp/
storage/app/public/expedientes/
storage/app/public/cursos_empleados/
storage/app/public/evidencias_quejas_clientes/
storage/app/public/evidencias_quejas_clientes_cerrado/
storage/app/public/documentos_concientSgsi/
storage/app/public/documentos_control_accesos/
storage/app/public/documentos_material_sgsi/
/respaldos/*
/storage/app/public/Documentos\ en\ aprobacion/procedimientos/*
/storage/app/public/Documentos\ en\ aprobacion/procesos/*
/storage/app/public/Documentos\ obsoletos/planes/*
/storage/app/public/Documentos\ en\ aprobacion/procedimientos/PR-AFI-011_Evaluaci\303\263n\ de\ proveedores\ v5.pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-GET-003\ PROCESO\ DE\ GESTI\303\223N\ DE\ TALENTO_V.4\ (1).pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-002\ Gesti\303\263n\ Comercial\ V.5.pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-006\ formato\ de\ proceso\ Consultor\303\255a\ Estrategica\ V.5.pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-007_Ciberinteligencia_v7.pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-008\ Gesti\303\263n\ Proveedores_v7\ (1).pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-015\ Gesti\303\263n_seguridad_informaci\303\263n_V2.pdf
/storage/app/public/Documentos\ en\ aprobacion/procesos/P-SGI-018\ Gesti\303\263n\ de\ incidentes\ de\ seguridad\ V.2.pdf
/storage/app/public/Documentos\*
*.stat
rr
.rr.yaml
/storage/app/backups/*
/storage/app/Tabantaj/
/storage/*.key
package.json
public/mix-manifest.json
public/js/app.js
/resources/views/layouts/navs
storage/app/katbol-contratos-tmp/
