/node_modules
/public/hot
/public/storage
/storage/framework
/vendor
.idea
/public/css/app.css
/public/fonts
/public/images
/public/js/app.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache/config.php
routes/web.php
npm-debug.log
yarn-error.log
bootstrap/cache/
storage/debugbar/
storage/app/public/gantt/
.php-cs-fixer.cache

storage/logs/

*.cache

storage/app/public/activos/
storage/app/public/expedientes/
