# Ignore all files and directories
/*

# Exclude the .gitignore file itself
!.gitignore

# Include empty directories
!*/

# Include empty directories in the root folder
!/*/

# Include empty directories recursively
!**/*/
