.caja_botones_menu {
    display: flex;
    justify-content: center;
}

.caja_botones_menu a {
    text-decoration: none;
    display: inline-block;
    color: #345183;
    padding: 5px 13px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.caja_botones_menu a i {
    margin-right: 7px;
    font-size: 15pt;
}

.caja_botones_menu a.btn_activo,
.caja_botones_menu a.btn_activo:hover {
    background-color: #345183;
    box-shadow: 0px -2px 0px 0px;
    color: #fff;
}

.caja_botones_menu a:hover {
    background-color: #f1f1f1;
}

.caja_caja_secciones {
    width: 100%;
}

.caja_secciones {
    width: 100%;
    display: flex;
}

.caja_secciones section {
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
    opacity: 0;
}

.caja_tab_reveldada {
    height: auto !important;
    width: 100% !important;
    overflow: none;
    opacity: 1 !important;
}

.seccion_div {
    overflow: hidden;
    width: 990px;
}

.caja_tab_reveldada .seccion_div {
    overflow: hidden;
    transition-delay: 0.5s;
    width: 100%;
}

/*scroll style*/

.scroll_estilo::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
.scroll_estilo::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
.scroll_estilo::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

/* Handle on hover */
.scroll_estilo::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.custom-file-input~.custom-file-label::after {
    content: "Elegir";
}

.printModal {
    font-family: sans-serif;
    display: flex;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    left: 0;
    top: 0;
    position: absolute;
    color: #0460b5;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .91)
}

.printClose {
    position: absolute;
    right: 10px;
    top: 10px
}

.printClose:before {
    content: "\00D7";
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    line-height: 1px;
    padding-top: .5em;
    display: block;
    font-size: 2em;
    text-indent: 1px;
    overflow: hidden;
    height: 1.25em;
    width: 1.25em;
    text-align: center;
    cursor: pointer
}

.DTFC_LeftBodyWrapper {
    top: -13px !important;
}

/* .DTFC_RightBodyWrapper {
    top: -13px !important;
} */

.DTFC_LeftHeadWrapper table thead tr th {
    background: #788bac !important;
}

.DTFC_RightHeadWrapper table thead tr th {
    background: #788bac !important;
}

.material-modulos {
    font-size: 50px;
    margin-bottom: 3px;
    display: block;
}

.select2-selection--multiple {
    overflow: hidden !important;
    height: auto !important;
    padding: 0 5px 5px 5px !important;
}

/*TOASTR*/
#toast-container>div {
    opacity: 1 !important;
}

.toast-success {
    /* background-color: #06b966; */
    background-color: #06a755;
}

/* DATATABLE */
.datatable-fix table.dataTable thead .sorting:after {
    opacity: 0.3;
    content: "\f0dc";
    font-family: "FontAwesome";
}

.datatable-fix table.dataTable thead .sorting_asc:after {
    opacity: 0.5;
    content: "\f0de";
    font-family: "FontAwesome";
}

.datatable-fix table.dataTable thead .sorting_desc:after {
    opacity: 0.5;
    content: "\f0dd";
    font-family: "FontAwesome";
}

table.dataTable {
    border-collapse: collapse !important;
}

.btn-read {
    display: inline-block;
    cursor: pointer;
    transition: .2s ease-out;
    padding: 1px 4px;
    border-radius: 5px;
}

.btn-read:hover {
    color: rgb(47, 231, 1);
    transform: scale(1.2);
    transition: .2s ease-in;
}

.iconos-crear {
    font-size: 15pt;
    color: #3086AF;
    margin-right: 10px;
}

.verde_silent {
    background-color: #345183;
}

.azul_silent {
    background-color: #2589AA;
}

.iconos_cabecera {
    color: #ffffff;
    font-size: 1.2rem;
}

.app-footer {
    margin-top: 30px;
}

body,
.iconos_cabecera {
    transition: 0s;
}

body {
    background-color: #F5F7FA;
}

#btnDark {
    cursor: pointer;
}

.iconos_cabecera:active {
    transform: scale(0.8);
    transition: 0.06s;
    opacity: 0.7;
}

.flex-column {
    background: rgba(0, 0, 0, 0);
}

header {
    /* box-shadow: 6px 0px 6px 1px rgba(0, 0, 0, 0.5); */
    z-index: 6;
}

.glyphicon-ok::before {
    content: "\f00c";
}

.glyphicon-remove::before {
    content: "\f00d";
}

.glyphicon {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
}


.card.vrd-agua {
    border-radius: 100px !important;
    overflow: hidden;
}

.card {
    border-radius: 14px !important;
    border: solid 1px #E5E5E5;
    background-color: #fff;
}

.card-body.align-self-center {
    margin-top: -65px !important;

    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    border-radius: 0 !important;

}

.card-body.align-self-center h3,
.card-body.align-self-center h3 i {
    color: #345183 !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark,
.btn-link,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark,
.btn-cancelar,
.btn_cancelar {
    padding: 12px 25px !important;
    border-radius: 8px !important;
    cursor: pointer;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark,
.btn-cancelar,
.btn_cancelar {
    background-color: #fff;
}

.btn.btn-success,
.btn.btn-danger {
    background-color: #057BE2 !important;
    color: #fff !important;
}

.btn_cancelar,
.btn-cancelar {
    background-color: #ffffff !important;
    transition: 0.2s;
    display: inline-block;
    text-align: center;
    border: 1px solid #057BE2 !important;
    color: #057BE2;
    box-sizing: border-box;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 14px;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 14px;
    border: none;
    font-size: 11px;

    position: absolute;
    top: 80px;
    right: 20px;
}

.breadcrumb a {
    color: #818181;
}

.breadcrumb li.active {
    color: #006DDB;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ':';
    font-weight: bolder;
}

.c-header.c-header-fixed {
    z-index: 10 !important;
}



.c-sidebar-backdrop {
    z-index: 9 !important;
}

.buscador-global {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #fff;
    color: #fff !important;
}

.buscador-global::placeholder {
    color: #fff;
}

.buscador-global:focus-visible {
    outline: none;
}


img.rounded-circle {
    border-radius: 0 !important;
    clip-path: circle(12px at 50% 50%);
    /* height: 37px; */
}

.img_empleado {
    clip-path: circle(20px at 50% 50%);
    height: 40px;
}

.fm-breadcrumb .breadcrumb.active-manager {
    background-color: #34518329;
    margin: -5px 0 0 0;
}

.breadcrumb-item.active {
    color: #000000;
}

.form-control:focus {
    box-shadow: none;
}

label input.form-control {
    border: none;
    border-bottom: 1px solid #b4b4b4;
    border-radius: unset;
}

label input.form-control:focus,
label input.form-control:active,
label input.form-control:focus-within {
    outline: none;
    border-bottom: 1px solid #7fabfd;
}

table.dataTable thead,
table.table thead {
    background: #788BAC !important;
    color: #fff !important;
}

table.dataTable tr th {
    font-weight: normal;
    border: none !important;
}

/* line 1, ../scss/core.scss */
.select2-selection--multiple {
    overflow: hidden !important;
    height: auto !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

/* line 1, ../scss/_single.scss */
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}

/* line 12, ../scss/_single.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* line 25, ../scss/_single.scss */
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

/* line 1, ../scss/_multiple.scss */

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;
    -webkit-user-select: none;
}

/* line 12, ../scss/_multiple.scss */
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* line 21, ../scss/_multiple.scss */
.select2-container .select2-search--inline {
    float: left;
}

/* line 24, ../scss/_multiple.scss */
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 3px;
    margin-left: 3px;
}

/* line 31, ../scss/_multiple.scss */
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* line 1, ../scss/_dropdown.scss */
.select2-dropdown {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

/* line 18, ../scss/_dropdown.scss */
.select2-results {
    display: block;
}

/* line 22, ../scss/_dropdown.scss */
.select2-results__options {
    list-style: none;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

/* line 28, ../scss/_dropdown.scss */
.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

/* line 34, ../scss/_dropdown.scss */
.select2-results__option[aria-selected] {
    cursor: pointer;
}

/* line 39, ../scss/_dropdown.scss */
.select2-container--open .select2-dropdown {
    left: 0;
}

/* line 43, ../scss/_dropdown.scss */
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* line 49, ../scss/_dropdown.scss */
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* line 55, ../scss/_dropdown.scss */
.select2-search--dropdown {
    display: block;
    padding: 7px;
}

/* line 59, ../scss/_dropdown.scss */
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* line 64, ../scss/_dropdown.scss */
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* line 69, ../scss/_dropdown.scss */
.select2-search--dropdown.select2-search--hide {
    display: none;
}

/* line 15, ../scss/core.scss */
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

/* line 1, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single {
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

/* line 6, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single:focus {
    outline: 0;
}

/* line 10, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 34px;
}

/* line 15, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

/* line 21, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

/* line 25, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

/* line 35, ../scss/theme/default/_single.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

/* line 56, ../scss/theme/default/_single.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

/* line 60, ../scss/theme/default/_single.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

/* line 68, ../scss/theme/default/_single.scss */
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}

/* line 72, ../scss/theme/default/_single.scss */
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

/* line 81, ../scss/theme/default/_single.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

/* line 1, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: text;
    height: 22px;
}

/* line 7, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    list-style-type: none !important;
    padding: 0 0 0 4px !important;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

/* line 15, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left;
}

/* line 23, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: px;
    margin-right: 2px;
}

/* line 31, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff;
    background-color: #4a89dc;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    padding: 1px 2px 2px !important;
}

/* line 46, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

/* line 55, ../scss/theme/default/_multiple.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
}

/* line 63, ../scss/theme/default/_multiple.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
    float: right;
}

/* line 67, ../scss/theme/default/_multiple.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

/* line 72, ../scss/theme/default/_multiple.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

/* line 80, ../scss/theme/default/_multiple.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #CCC;
    outline: 0;
}

/* line 87, ../scss/theme/default/_multiple.scss */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

/* line 92, ../scss/theme/default/_multiple.scss */
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

/* line 6, ../scss/theme/default/layout.scss */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* line 13, ../scss/theme/default/layout.scss */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* line 20, ../scss/theme/default/layout.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #DDD;
}

/* line 22, ../scss/theme/default/layout.scss */
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: 0;
}

/* line 29, ../scss/theme/default/layout.scss */
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
}

/* line 36, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    padding: 2px !important;
}

/* line 42, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option[role=group] {
    padding: 0;
}

/* line 46, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}

/* line 50, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #EEE;
}

/* line 54, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}

/* line 57, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}

/* line 61, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}

/* line 65, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}

/* line 69, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}

/* line 73, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}

/* line 77, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

/* line 88, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4a89dc;
    color: white;
}

/* line 93, ../scss/theme/default/layout.scss */
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}



.table td {
    /* text-align: justify !important; */
}

.titulo_general_funcion {
    color: #3086AF;
    margin-bottom: 40px;
}

.titulo_general_funcion.col-12 {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.form-group label {
    color: #3086AF;
}

.titulo-formulario {
    /*background-color: #fff; */
    font-size: 20px;
}

.card_formulario {
    background-color: #FCFCFC;
}

/*iconos de alertas azules*/
.w-100 .bi.bi-info.mr-3 {
    margin-right: 0px !important;
    margin-left: 20px !important;
    font-size: 20px;
}

.nav.nav-tabs {
    position: relative;
}

.nav.nav-tabs .nav-link {
    background-color: #F0F1FF !important;
    color: #3086AF !important;
    position: relative;
    padding: 20px;
}

.nav.nav-tabs .nav-link.active {
    background-color: #F0F1FF !important;
    color: #3086AF !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border: 1px solid #00000000 !important;
}

.nav-tabs .nav-link:not(.nav-link:first-child)::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 20%;
    width: 1px;
    height: 60%;
    background-color: #74b8d7;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #00000000 !important;
}

.line-active-nav {
    width: 0px;
    height: 2px;
    background-color: #3086AF;
    position: absolute;
    transition: 0.4s;
}

/* ------------------------ */

.ventana_menu ul {
    margin-top: 100px !important;
}

.dt-button-collection.dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.dt-button-collection.dropdown-menu::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
.dt-button-collection.dropdown-menu::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
.dt-button-collection.dropdown-menu::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

/* Handle on hover */
.dt-button-collection.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.table.table-striped tr {
    background-color: white !important;
}


table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    content: "" !important;
}

.dataTables_wrapper.no-footer,
.dataTables_scrollBody,
.dataTables_wrapper.no-footer,
.dataTables_scrollBody {
    border: none !important;
}

/* simple tables  */
.datatable-rds {
    border-radius: 14px;
    border: solid 1px #E5E5E5;
    background-color: #fff;
    padding: 25px;
    margin-top: 20px;
}

.card .datatable-rds {
    border-radius: 0px;
    border: none;
    background-color: #fff;
    padding: 0px;
    margin-top: 0px;
}

.title-table-rds {
    font-weight: bolder;
    color: #606060;
    font-size: 16px;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.datatable-rds table.dataTable thead,
.dataTables_scroll table.dataTable thead,
.datatable-fix table.dataTable thead,
.datatable-rds table.table thead,
.dataTables_scroll table.table thead,
.datatable-fix table.table thead {
    background-color: #00000000 !important;
    border: none !important;
    color: #414141 !important;
    border-bottom: 1px solid #E5E5E5 !important;
}

.datatable-rds th,
.dataTables_scroll th,
.datatable-fix th {
    font-weight: bolder !important;
    font-size: 14px !important;
    color: #414141 !important;
}

.datatable-rds td,
.dataTables_scroll td,
.datatable-fix td {
    font-size: 14px !important;
    border-bottom: 1px solid #fff !important;
    padding: 20px 10px !important;
}

.datatable-rds tr:last-child td,
.dataTables_scroll tr:last-child td,
.datatable-fix tr:last-child td {
    border-bottom: none !important;
}

.datatable-rds .btns-actions-global-datatable,
.dataTables_scroll .btns-actions-global-datatable,
.datatable-fix .btns-actions-global-datatable {
    display: none;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}

.datatable-rds .btn-action-show-datatables-global,
.dataTables_scroll .btn-action-show-datatables-global,
.datatable-fix .btn-action-show-datatables-global {
    display: block !important;
}

.datatable-rds .dataTables_wrapper>.row:first-child,
.dataTables_scroll .dataTables_wrapper>.row:first-child,
.datatable-fix .dataTables_wrapper>.row:first-child {
    /* display: none; */
}

/* ----------------------- */

/* input google */
.anima-focus {
    display: grid !important;
    grid-template-areas: "input";
    position: relative !important;
    margin-top: 12px;
}

.anima-focus label,
.anima-focus .form-control {
    grid-area: input;
}

.anima-focus .form-control {
    background-color: #00000000;
    z-index: 2;
}

.anima-focus .form-control:not(textarea) {
    height: 45px !important;
}

.anima-focus .form-control:focus {
    background-color: #00000000;
}

.anima-focus label {
    z-index: 1;
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 0px;
    background-color: #fff;
    width: max-content;
    height: max-content;
    transition: 0.3s;
    padding: 0px 12px;
}

.anima-focus .form-control:focus+label,
.anima-focus .form-control:not(:placeholder-shown)+label {
    transform: translateY(-80%) !important;
    z-index: 2;
}

.form-control {
    border-radius: 10px !important;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.8;
    background-color: #fff;
    z-index: 990000;
}

#loading-image {
    position: absolute;
    z-index: 100;
}

#contenido_imprimir {
    padding: 20px;
}

.solo-print {
    display: none;
}

.encabezado-print {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 35px;
}

.encabezado-print td {
    padding: 10px 5px;
    text-align: center;
    border: 1px #ccc solid;
}

@media print {

    .vista_print,
    .print-none {
        display: none !important;
    }

    .solo-print {
        display: block !important;
    }

    body {
        background-color: #fff !important;
    }

    .table th {
        background-color: #788BAC !important;
    }

    #tabla_blanca_imprimir_global thead tr,
    #tabla_blanca_imprimir_global thead tr th,
    #tabla_blanca_imprimir_global thead tr th div {
        height: unset !important;
        color: #fff !important;
        padding-top: 10px;
    }

    #tabla_blanca_imprimir_global thead tr:first-child th:last-child,
    #tabla_blanca_imprimir_global tbody tr td:last-child {
        display: none !important;
    }
}

.table-acordeon {}

.datatable-fix {
    max-width: 100% !important;
    overflow: auto !important;
}

.tabla-fixed th {
    background-color: #fff !important;
}

.table-striped.table-acordeon tbody tr:nth-of-type(odd),
table.table.table-acordeon tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
}

.btn-arrow-menu-table-rotate {
    transform: rotate(180deg);
}

.tr-sec-menu td {
    border-top: none !important;
}

.c-body {
    margin-top: 80px;
}

.material-symbols-outlined {
    line-height: 0.5;
}

.table-bordered {
    border: none !important;
}

a:hover {
    text-decoration: none;
    color: unset;
}

a {
    color: unset;
}

.table .thead-dark th {
    background-color: #fff !important;
    color: #414141 !important;
}

.btn:focus,
.btn.focus {
    outline: none !important;
    box-shadow: none !important;
}

.c-wrapper {
    width: 100%;
    max-width: 1750px;
    margin: auto;
}