.c-dark-theme{
    background-color: #181924;
    color: #888;
    border-color: rgba(0,0,0,0);
}
ul, div img, .card{
	transition: 0s;
}

body.c-dark-theme .dark_mode1{
    background-color: #2a2b36;
    color: #fff;
}
body.c-dark-theme .card{
    background-color: #2a2b36;
    color: #fff;
    border-color: rgba(0,0,0,0);
}
body.c-dark-theme .card-header{
    background-color: #2a2b36;
    color: #fff;
}

body.c-dark-theme .table{
    background-color: #2a2b36;
    color: #fff;
}
body.c-dark-theme .table tr:nth-child(odd){
    background-color: #556377;
}
body.c-dark-theme .table tr:nth-child(even){
	background-color: #4b5265;
}

body.c-dark-theme .table tr:hover{
	background-color: rgba(255,255,255,0.4);
	color: #fff;
}

body.c-dark-theme .ventana{
    background-color: #2a2b36;
    color: #fff;
}








