.menu-pasos-guia {
    background-color: #EEF6FF;
    position: fixed;
    left: 0;
    top: 80px;
    width: 230px;
    height: 100%;
    padding-top: 70px;
    overflow: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-pasos-guia ul li {
    width: 100%;
    font-size: 16px;
    color: #3086AF;
    display: flex;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.1s;
}

li.active-paso {
    color: #001e3d !important;
    background-color: #fff !important;
}

.menu-pasos-guia ul li i {
    font-size: 25px;
    margin-right: 20px;
}

.menu-pasos-guia ul li span {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #306BA9;
}

.info-iso {
    transition: 0.15s;
}

.card-iso-guia:hover .info-iso {
    transform: translateY(-5px);
}

.list-info-iso {
    margin-top: 30px;
}

.list-info-iso li {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
}

.list-info-iso li::before {
    content: "•";
    margin-left: -14px;
    margin-top: -10px;
    font-size: 27px;
    color: #3086AF;
    /* or whatever color you prefer */
    position: absolute;
}

.content-guia-iso {
    margin-left: 230px;
}

.title-guia-iso {
    color: #818181;
    font-size: 16px;
}

.card-main-iso {
    background-image: url('../img/iso/fondo-card.png');
    background-attachment: fixed;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.title-info-iso {
    color: #3086AF;
    font-size: 28px;
}

.list-info-iso li {
    font-size: 14px;
    margin-top: 8px;
}

.caja-cards-iso-guia {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card-iso-guia {
    background-color: #fff;
    color: #3086AF;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0px 1px 4px #00000024;
    width: 300px;
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 3;
    padding: 3px;
}

.card-iso-guia::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(132deg, rgba(255, 160, 204, 1) 19%, rgba(146, 159, 255, 1) 52%, rgba(15, 200, 208, 1) 83%);
    z-index: -2;
}

.card-iso-guia::after {
    content: "";
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: #fff;
    z-index: -1;
}

.img-card-iso {
    min-width: 60px;
    height: 130px;
    border-radius: 14px;
    overflow: hidden;
}

.img-card-iso img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.15s;
    transform: scale(1.1);
}

.card-iso-guia:hover .img-card-iso img {
    transform: scale(1);
}

.title-card-img-iso {
    font-size: 16px;
    margin: 22px 0px;
}

.card-iso-guia span {
    background-color: #BDE4BB;
    color: #039C55;
    font-size: 10px;
    padding: 4px 20px;
    border-radius: 100px;
}

.paso-iso-guia {
    display: none;
}

.paso-iso-guia.active-iso-paso {
    display: block !important;
}

/* inicio guia ----- */
.info-inicio-guia {
    background-color: #fff;
    min-width: 600px;
    max-width: 600px;
    padding: 0px 50px;
    box-sizing: border-box;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-inicio-guia h4 {
    color: #467BD3;
    font-size: 50px;
}

.info-inicio-guia p {
    color: #818181;
    font-size: 18px;
}

.info-inicio-guia ul {
    font-size: 14px;
    color: #818181;
}

.info-inicio-guia li {
    margin-top: 10px;
}

.caja-img-iso-guia-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f9ff;
}

.caja-img-iso-guia-inicio img {
    width: 100%;
}

.btn-continuar-iso {
    border-radius: 1000px;
    padding: 23px 57px;
    background-color: #4DD1A6;
    color: #fff;
}

.caja-cards-normas {
    width: 100%;
}

.caja-cards-normas a {
    width: 25%;
}

.caja-cards-normas a.disabled {
    opacity: 0.4;
}

.card-norma {
    overflow: hidden;
    height: 100%;
    object-fit: contain;
    color: #575757;
    box-shadow: 0px 3px 6px #00000029;
}

.card-norma h4 {
    font-size: 18px;
}

.card-norma p {
    font-size: 14px;
}

.card-img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title-normas-iso {
    color: #3086AF;
    font-size: 30px;
}

.btn-entrar {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #DC7CB9;
    font-size: 12px;
    display: flex;
    align-items: center;
    transform: translateY(5px);
    opacity: 0;
    transition: 0.15s;
}

.card-iso-guia:hover .btn-entrar {
    transform: translateY(0px);
    opacity: 1;
}

.btn-netx,
.btn-previous {
    color: #006DDB !important;
    text-decoration: underline !important;
}

.nota-paso-iso {
    padding: 14px 40px;
    box-sizing: border-box;
    width: 100%;
    background-color: #FAFEDE;
    border: 1px solid #FFC2C2;
    border-radius: 11px;
    margin-top: 25px;
}

.menu-pasos-guia ul li:hover {
    background-color: #DFEFFF;
}