  .caja_botones_menu {
      display: flex;
  }

  .caja_botones_menu a {
      width: 33.33%;
      text-decoration: none;
      display: inline-block;
      color: #345183;
      padding: 5px 0px;
      border-top: 1px solid #ccc !important;
      border-right: 1px solid #ccc;
      background-color: #f9f9f9;
      margin: 0;
      text-align: center;
      align-items: center;
  }

  .caja_botones_menu a:first-child {
      border-left: 1px solid #ccc;
  }

  .caja_botones_menu a:not(.caja_botones_menu a.btn_activo) {
      border-bottom: 1px solid #ccc;
  }

  .caja_botones_menu a i {
      margin-right: 7px;
      font-size: 15pt;
  }

  .caja_botones_menu a.btn_activo, .caja_botones_menu a.btn_activo:hover {
      background-color: #fff;
  }

  .caja_botones_menu a:hover {
      background-color: #f1f1f1;
  }

  .caja_caja_secciones {
      width: 100%;
  }

  .caja_secciones {
      width: 100%;
      display: flex;
  }

  .caja_secciones section {
      width: 0px;
      overflow: hidden;
      transition: 0.4s;
      opacity: 0;
  }

  .caja_tab_reveldada {
      width: 100% !important;
      overflow: none;
      opacity: 1 !important;
  }

  .seccion_div {
      overflow: hidden;
      width: 990px;
  }

  .caja_tab_reveldada .seccion_div {
      overflow: hidden;
      transition-delay: 0.5s;
      width: 100%;
  }

  section ul {
      padding: 0;
      margin: 0;
      text-align: center;
  }

  section li {
      list-style: none;
      width: 150px;
      height: 150px;
      box-sizing: border-box;
      position: relative;
      margin: 10px;
      display: inline-block;
  }

  section li i {
      font-size: 30pt;
      margin-bottom: 10px;
      width: 100%;
  }

  section a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      color: #345183;
      border-radius: 6px;
      box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
      transition: 0.1s;
      padding: 7px;
  }

  section a:hover {
      text-decoration: none !important;
      color: #345183;
      border: 1px solid #345183;
      box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.0);
      background-color: #fff;
  }

  a:hover {
      text-decoration: none !important;
  }

  @media(max-width: 648px) {
      .caja_secciones {
          min-height: 1000px;
      }
  }

  @media(max-width: 474px) {
      .caja_secciones {
          min-height: 2000px;
      }
  }

  .tabs {
      outline: none;
  }

  .ventana_menu {
      width: calc(100% - 40px);
      background-color: #fff;
      position: absolute;
      margin: auto;
      display: none;
      top: 130px;
      z-index: 3;
      height: calc(100% - 40px);
  }