body {
    background-color: #EFF1F5;
    background-image: url('../img/fondo-rds.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
} */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.content-header-blue {
    width: 100%;
    height: 70px;
    background-color: #2c69aa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: 9;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.caja-inicio-options-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.caja-inicio-options-header button {
    outline: none;
    background-color: #00000000;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.caja-buscador-header {
    display: grid !important;
    grid-template-areas: "input";
    place-items: center start;
}

.caja-buscador-header i,
.caja-buscador-header input {
    grid-area: input;
}

.caja-buscador-header i {
    padding-left: 14px;
    font-size: 16px;
}

.caja-list-search-global {
    position: absolute;
    overflow: auto;
    max-height: 600px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 1px #ccc;
    z-index: 4;
}

.caja-inicio-options-header input {
    width: 284px;
    height: 40px;
    background-color: #00000000;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    padding-left: 40px;
    color: #fff;
}

.caja-inicio-options-header input::placeholder {
    color: #fff;
    /* Cambia este valor al color que desees */
}

.caja-inicio-options-header input:focus {
    outline: none;
}

.caja-user-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

header .caja-img-user-header {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
}

header .caja-img-user-header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-hedare-window {
    width: 100%;
    position: relative;
    z-index: 8;
    transition: 0.5s;
    transform: translateY(-105%);
    display: flex;
    box-shadow: 0px 2px 4px #0000001A;
}

header.mostrar-menu {
    height: unset !important;
}

.mostrar-menu .menu-hedare-window {
    transform: translateY(-80px);
}

.mostrar-menu .menu-hedare-window .item-content-menu-header * {
    opacity: 1;
    transition: 1s;
    transform: translateY(0px);
    transition: 0.7s;
}

.item-content-menu-header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title-item-menu-header {
    display: block;
    margin-top: 30px;
    color: #306BA9;
    font-size: 18px;
}

.menu-list-panel-header {
    display: block;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}

.menu-list-panel-header a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2E2E2E;
    text-decoration: none;
}

.menu-list-panel-header i {
    margin-right: 20px;
    font-size: 20px;
}

.menu-blocks-mod-header {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
}

.menu-blocks-mod-header a {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 230px;
    height: 60px;
    border: 1px solid #707070;
    border-radius: 14px;
    text-decoration: none;
    font-size: 16px;
    color: #2E2E2E;
}

.menu-blocks-mod-header a i {}

.caja-icon-mod-header {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: .5px solid #707070;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E2E2E;
    transform: scale(1.05) !important;
}

.caja-img-escritorio-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-escritorio-header {
    width: 400px;
}

.line-left {
    position: relative;
}

.line-left::before {
    content: "";
    width: 1px;
    height: 70%;
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: #dbdbdb;
}

.logo-org-header{
    width: 80%;
    height: 60px;
    margin-top: 10px;
}
.logo-org-header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.caja-menu-admin-header {}

.menu-list-admin-header {
    width: calc(100% - 30px);
    display: block;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}

.menu-list-admin-header li {
    width: 100%;
}

.menu-list-admin-header a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #2E2E2E;
    text-decoration: none;
}

.menu-list-admin-header i {
    margin-right: 14px;
    font-size: 18px;
}

.li-click-list-header {
    position: relative;
}

.li-click-list-header ul {
    display: none;
}

.i-direct {
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: -10px !important;
    opacity: 0.6 !important;
}

.active-ul-header .i-direct {
    transform: rotate(180deg) !important;
}

.active-ul-header ul {
    display: block !important;
}

.img-person {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    overflow: hidden;
    display: inline-block;
    background-color: rgba(233, 233, 233, 0.4);
}

.img-person img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* btn menu ------- */
.line-menu {
    display: grid;
    grid-template-areas: "menu";
    transition: 0.3s;
}

.line-menu::before {
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: #fff;
    grid-area: menu;
    transform: translateY(-8px);
    transition: 0.3s;
}

.line-menu hr {
    width: 25px;
    height: 1px;
    background-color: #fff;
    border: none;
    margin: 0;
    grid-area: menu;
    transition: 0.3s;
}

.line-menu::after {
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: #fff;
    grid-area: menu;
    transform: translateY(8px);
    transition: 0.3s;
}

.active .line-menu {
    gap: 0px;
}

.active .line-menu::before {
    transform: rotate(45deg) translateY(0px);
}

.active .line-menu hr {
    transform: rotate(-45deg);
}

.active .line-menu::after {
    opacity: 0;
}

.bg-black-header-menu{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 80px;
}
.bg-black-header-menu.active{
    display: block;
}
