hr{
    border: none;
    border-bottom: 1px solid #eaeaea;
}
.select-wrapper{

display: block !important;

}
.caja-blue{
    background-color: #345183;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}
.caja-proceso-requi{
    display: flex;
    align-items: center;
    gap: 50px;
}
.caja-proceso-requi hr{
    width: 100px;
    border: none;
    border-bottom: 1px solid #eaeaea;
}
.caja-proceso-requi .paso-tab.active i{
    background-color: #348CFF;
}
.number-icon{
    background-color: #9E9E9E;
    font-style: normal;
    color: #fff;
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.btn-add-card{
    color: #3086AF;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
}
.btn-add-card:hover{
    box-shadow: none;
    text-decoration: underline;
}
.create-requisicion form input,
.create-requisicion form select,
.create-requisicion form textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #B5B5B5 !important;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
}
.create-requisicion form input:focus,
.create-requisicion form select:focus,
.create-requisicion form textarea:focus{
    outline: none;
}
.create-requisicion form textarea{
    height: 70px;
    resize:none;
}
.create-requisicion form input[type="radio"]{
    opacity: 1 !important;
    position: relative !important;
    width: 25px !important;
    height: 25px !important;
    pointer-events: initial !important;
    transform: translateY(8px);
    margin-top: 15px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item{
    width: 100%;
    max-height: 100%;
    padding: 30px;
    box-sizing: border-box;
    align-self: stretch;
}
.doc-requisicion .flex{
    justify-content: flex-start;
}
.doc-requisicion strong{
    color: #3086AF;
}
.header-doc .flex-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-med-doc-header{
    color: #3D3D3D;
    font-size: 15px;
}
.img-doc{
    width: 130px;
}
.item-doc-img{
    border-left: 20px #345183 solid;
    max-width: 200px;
}
.doc-blue{
    border-right: 20px #345183 solid;
    background-color: #295082;
    color: #fff !important;
}
.doc-blue strong,
.doc-blue .flex-item{
    color: #fff !important;
}
.item-header-doc-info{
    background-color: #EEFCFF;
}
.item-header-doc-info p{
    color: #345183;
}
.caja-producto strong{
    color: #345183;
}
.proveedores-doc:nth-child(2n+1){
    background-color: #eee !important;
}
.header-proveedor-doc{
    background-color: #D9D9D9;
    border-left: 20px #345183 solid;
}
.header-proveedor-doc .flex-item{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
.caja-firmas-doc .flex{
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.caja-firmas-doc .flex-item{
    width: 300px;
    padding: 20px !important;
}
.firma-content{
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
}
.icon-next{
    margin-left: 10px;
    font-size: 14px !important;
}
.icon-prior{
    margin-right: 10px;
    font-size: 14px !important;
}
.caja-space-firma{
    position: relative;
    width: 500px;
    height: 350px;
}
.caja-space-firma input{
    position: absolute;
    width: 100%;
    height: 100%;
}
.caja-space-firma canvas{
    width: 100%;
    height: 100%;
    border: 1px solid #5a5a5a;;
}
.btn-deleted-card{
    color:rgb(36, 65, 66);
    cursor:pointer;
    font-size: 18px;
}
.card-inner:first-child .btn-deleted-card{
    display: none;
}

/* ordenes compra */
.catalogos-tabs ul{
    width: 100%;
    display: flex !important;
    justify-content: space-around;
}
.catalogos-tabs ul li a{
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.catalogos-tabs .tab,
.catalogos-tabs .tabs{
    height: 100px !important;
}
.img-firma{
    width: 80%;
    margin-left:10%;
}
.caja-firmas-doc p{
    width: 100%;
    text-align: center;
}

/* ordenes de compra edit --------- */
.caja-input-dinero input{
    padding-left: 30px !important;
    box-sizing: border-box;
}
.caja-input-dinero{
    display: flex;
    align-items: center;
    position: relative;
}
.caja-input-dinero::before{
    content: "$" !important;
    left: 10px;
    position: absolute;
    color: #b4b4b4;
}
.proveedores-doc .col{
    word-wrap: break-word !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.not-register{
    opacity: 0.8;
}
