.aprobado{
    padding: 3px;
    background-color: #61CB5C;
    color: #fff;
    border-radius: 4px;
}
.rechazado{
    padding: 3px;
    background-color: #EA7777;
    color: #fff;
    border-radius: 4px;
}
.pendiente{
    padding: 3px;
    background-color: #F48C16;
    color: #fff;
    border-radius: 4px;
}
.papelera{
    padding: 3px;
    background-color: #aaa;
    color: #fff;
    border-radius: 4px;
}

/*llenar horas -------------------------------*/
.tabla-llenar-horas th, .tabla-llenar-horas td{
    padding: 6px 3px !important;
    font-size: 13px !important;
}
.ingresar_horas{
    width: 60px;
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}
.tabla-llenar-horas input, .tabla-llenar-horas div.form-control{
    margin-top: 7px;
}
.tabla-llenar-horas input[type="checkbox"]{
    margin-top: 20px !important;
}
.tabla-llenar-horas .form-control, .tabla-llenar-horas .select2{
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.08);
}
.tabla-llenar-horas th{
    text-align: center !important;
}
.table select{
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #747474;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    justify-content: ;
} 
.flatpickr-disabled{
    color: #FFC5C5 !important;
} 

.select-desactivo{
    position: relative;
}
.select-desactivo::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}

/*alerta*/
.delete {
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.icono_delete {
    margin: 40px 0px;
    color: #FF0000;
    opacity: 0.7;
    font-size: 70pt;
}

.eliminar {
    background-color: #FF0000;
    opacity: 0.7;
    border: none;
}

.eliminar:hover {
    background-color: #FF0000;
    opacity: 1;
}

body.c-dark-theme .delete {
    background: #2a2b36;
}

body.c-dark-theme .btn-outline-secondary {
    border: 1px solid #ccc;
    color: #ccc;
}

.btn_archivar {
    all: unset !important;
}

.indicador_numero {
    position: absolute;
    background-color: #3086AF;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    top: 0;
    right: 0;
    margin-top: -10px;
    font-size: 12px;
    font-weight: bolder;
}

.flatpickr-monthDropdown-months{
    width: 150px !important;
}
.modal-content{
    position: relative;
}
.btn-tache-cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
}
/*reportes empleado -------------------------------------------*/
.lista_general{
    padding: 0;
    margin: 0;
    width: 100%;
}
.general_li{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
    margin-top: 17px;
    background-color: #fff;
    width: 250px;
    height: 240px;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 4px 1px #00000029;
    margin-right: 12px;
    position: relative;
    overflow: hidden;
}
.general_li h4{
    font-size: 15px;
    background-color: rgba(8,170,157,1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 25%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 14px;
}
.general_li_ul{
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 25%;
    width: 100%;
    max-height: 75%;
    overflow: auto;
}
.general_li_ul h5{
    margin: 0;
    font-size: 14px;
}
.general_li_ul li{
    display: flex;
    justify-content: space-between;
}
.general_li small{
    font-weight: lighter;
}

.span_atrasos{
    padding: 5px 7px;
    color: #fff;
    border-radius: 4px;
}
table td .btn i{
    font-size: 20px !important;
}
.list_times_faltantes{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: auto;
}
.list_times_faltantes li{
    display: inline-block;
    padding: 4px 7px;
    margin: 7px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*reportes proyecto -------------------------------------------*/
.caja_anima_reporte{
    position: relative;
    min-height: auto;
}
.caja_anima_reporte{
    display: flex;
}
.caja_anima_reporte > div{
    min-width: 100%;
}
#reporte_proyecto,
#reporte_empleado{
    background-color: #f9f9f9;
    padding: 24px;
    border-radius: 6px;
    border: 1px solid #eee;
    animation: reporteProyecto 1s;
    margin-left: -100%;
    position: relative;
    z-index: 3;
}
.caja_anima_reporte .btn-cerrar{
    position: absolute;
    right: 0px;
    top: 0px;
}
@keyframes reporteProyecto{
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: -100%;
    }
}

/*dashboard ---------------------------------------------------*/

.titulo-grafica{
    margin: 0;
    font-size: 16px;
}

.caja-cards-areas .card{
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-right: 14px !important;
}
.partisipacion-baja{
    background-color: #FF7373;
}
.partisipacion-media{
    background-color: #FFAD3E;
}
.partisipacion-alta{
    background-color: #8BE578;
}
.caja-cards-areas .card h5{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.caja-cards-areas .card h4{
    color: rgba(0, 0, 0, 0.5) !important;
}

