<!DOCTYPE html>
<html>
<head>
	<title>Matriz de aplicabilidad</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<style type="text/css">
		body{
			font-size: 8pt;
			font-family: arial;
		}
		table{
			border-collapse: collapse;
			width: 100%;
		}
		.encabezado td{
			text-align: center;
			padding: 30px 0;
			font-size: 10pt;
		}
		.encabezado h1{
			font-size: 10pt;
		}
		div{
			width: 100%;
			margin-bottom: 20px;
		}
		th{
			border: #ccc solid 1px;
			padding: 5px;
		}
		.verdes{
			background-color: #258f2b;
			color: #fff;
		}
		.negras{
			background-color: #000;
			color: #fff;
		}
		.grises{
			background-color: #ccc;
		}
		td{
			border: 1px solid #ccc;
			padding: 10px 5px;
		}
		.fecha table{
			width: 100%;
		}
		.fecha td{
			font-size: 10pt;
		}
	</style>
</head>
<body>
	<div class="encabezado">
		<table width="100%">
			<tr>
				<td width="30%"><img src="i"></td>
				<td><h1>"Matriz de aplicabilidad <br> ISO 27001:2013"</h1></td>
				<td width="30%">codigo  <br>
				fecha</td>
			</tr>
		</table>
	</div>
	
	<div>
		<table>
			<thead>
				<tr class="verdes">
					<th>Control ISO 27001:2013</th>
					<th>Control</th>
					<th>Aplica (si o no)</th>
					<th>"Estatus <br> (Implementado, En proceso)"</th>
					<th>Documento de referencia </th>
					<th>Justificación</th>
				<tr>
			</thead>
			<tbody>
				
				<tr class="negras">
					<td colspan="6">A.5 Políticas de Seguridad de Información</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.5.1 Directivas de la gestión para seguridad de la información</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para proporcionar la dirección de gestión y apoyo a la seguridad de la información de acuerdo con los requerimientos del negocio y las leyes y reglamentos pertinentes.</td>
				</tr>
				<tr>
					<td>A.5.1.1 </td>
					<td>Políticas de seguridad de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se definirá un conjunto de políticas de seguridad de la información, aprobado por la administración, publicado y comunicado a los empleados y colaboradores externos.</td>
				</tr>
				<tr>
					<td>A.5.1.2 </td>
					<td>Revisión de las políticas de seguridad de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las políticas de seguridad de la información se revisarán a intervalos planificados o si se producen cambios significativos para asegurar su conveniencia, adecuación y eficacia.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.6 Organización de la seguridad de la información</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.6.1 organización interna</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Establecer un marco de gestión para iniciar y controlar la implementación y operación de seguridad de la información dentro de la organización.</td>
				</tr>
				<tr>
					<td>A.6.1.1 </td>
					<td>Funciones y responsabilidades de seguridad de la Información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todas las responsabilidades de seguridad de la información deben ser definidos y asignados</td>
				</tr>
				<tr>
					<td>A.6.1.2 </td>
					<td>Segregación de funciones </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las funciones en conflicto y áreas de responsabilidad deben estar separados para reducir las oportunidades para la modificación o mal uso de los activos de la organización no autorizado o involuntario.</td>
				</tr>
				<tr>
					<td>A.6.1.3 </td>
					<td>Contacto con las autoridades </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se mantendrán los contactos apropiados con las autoridades pertinentes.</td>
				</tr>
				<tr>
					<td>A.6.1.4  </td>
					<td>Contacto con los grupos de interés especial</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se mantendrán los contactos apropiados con los grupos de interés especial u otros foros de seguridad especializados y asociaciones profesionales.</td>
				</tr>
				<tr>
					<td>A.6.1.5 </td>
					<td>Seguridad de la información en la gestión de proyectos</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Seguridad de la información se dirigirá en dirección de proyectos, independientemente del tipo de proyecto.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.6.2 informática móvil y teletrabajo</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar la seguridad del teletrabajo y el uso de dispositivos móviles.					</td>
				</tr>
				<tr>
					<td>A.6.2.1 </td>
					<td>Política sobre dispositivos móviles</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Una política y el apoyo a las medidas de seguridad serán adoptadas para gestionar los riesgos introducidos por el uso de dispositivos móviles. </td>
				</tr>
				<tr>
					<td>A.6.2.2 </td>
					<td>Tele-trabajo</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Una política y el apoyo a las medidas de seguridad se aplicarán para proteger la información visitada, tratados o almacenados en los sitios de trabajo a distancia.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.7 seguridad de los recursos humanos</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.7.1 Antes de empleo</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurarse de que los empleados y contratistas entiendan sus responsabilidades y son adecuados para las funciones para las que se consideran.					</td>
				</tr>
				<tr>
					<td>A.7.1.1</td>
					<td> Detección </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Controles de verificación de antecedentes de todos los candidatos a empleo se llevarán a cabo de conformidad con las leyes, regulaciones y ética y serán proporcionales a los requerimientos del negocio, la clasificación de la información para ser accedido y los riesgos percibidos. </td>
				</tr>
				<tr>
					<td>A.7.1.2 </td>
					<td>Términos y condiciones de contratación </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los acuerdos contractuales con los empleados y los contratistas deberán declarar y responsabilidades de sus de la organización para la seguridad de la información.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A 7.2 Durante el empleo 					</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurarse de que los empleados y contratistas conozcan y cumplan con sus responsabilidades de seguridad de la información.					</td>
				</tr>
				<tr>
					<td>A.7.2.1 </td>
					<td>Responsabilidades de la Dirección </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Gestión pedirán a todos los empleados y contratistas a aplicar la seguridad de la información de acuerdo con las políticas y procedimientos establecidos por la organización. </td>
				</tr>
				<tr>
					<td>A.7.2.2 </td>
					<td>Sensibilización, formación y capacitación en seguridad de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todos los empleados de la organización y, en su caso, los contratistas deberán recibir una educación adecuada sensibilización y formación y actualizaciones periódicas en las políticas y procedimientos de la organización, que sea relevante para su función de trabajo.</td>
				</tr>
				<tr>
					<td>A.7.2.3 </td>
					<td>Procesos disciplinario </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Habrá un proceso disciplinario formal y comunicado en lugar de tomar medidas contra los empleados que hayan cometido una violación de la seguridad de la información.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.7.3  Cese al empleo o cambio de puesto de trabajo</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: proteger los intereses de la organización como parte del proceso de cambiar o terminar el empleo.					</td>
				</tr>
				<tr>
					<td>A.7.3.1  </td>
					<td>Cese o cambio de responsabilidades de empleo</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las responsabilidades de seguridad de la Información y deberes que siguen vigentes después de la rescisión o cambio de empleo se deben definir, comunicadas al empleado o contratista y se hacen cumplir.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.8 Administración de activos</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.8.1  Responsabilidad sobre los activos</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para identificar activos de la organización y definir las responsabilidades de protección adecuados.</td>
				</tr>
				<tr>
					<td>A.8.1.1</td>
					<td>Inventario de activos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Activos relacionados con las instalaciones de procesamiento de información y la información deben ser identificados y un inventario de estos bienes serán elaborados y mantenidos. </td>
				</tr>
				<tr>
					<td>A.8.1.2   </td>
					<td>Propiedad de los Activos</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los activos mantenidos en el inventario serán propiedad. </td>
				</tr>
				<tr>
					<td>A.8.1.3 </td>
					<td>Uso aceptable de los activos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Normas para el uso aceptable de la información y de los activos asociados a las instalaciones de procesamiento de información y la información deben ser identificados, documentados e implementados. </td>
				</tr>
				<tr>
					<td>A.8.1.4 </td>
					<td>Devolución de activos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todos los empleados y usuarios de la empresa externos deberán devolver todos los activos de la organización en su poder a la terminación de su empleo, contrato o acuerdo.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.8.2  Clasificación de la información</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Asegurar que la información reciba un nivel adecuado de protección, de acuerdo con su importancia para la organización.</td>
				</tr>
				<tr>
					<td>A.8.2.1 </td>
					<td>Clasificación de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La información se clasificará en función de los requisitos legales, el valor, criticidad y sensibilidad a la divulgación una autorización o modificación. </td>
				</tr>
				<tr>
					<td>A.8.2.2 </td>
					<td>Etiquetado de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Un conjunto apropiado de procedimientos para el etiquetado de información será elaborado y aplicado de acuerdo con el esquema de clasificación de la información aprobada por la organización. </td>
				</tr>
				<tr>
					<td>A.8.2.3 </td>
					<td>Manejo de activos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Procedimientos para el manejo de los activos deberán desarrollarse y aplicarse de conformidad con el esquema de clasificación de la información aprobada por la organización.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.8.3 Manejo de los medios</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para evitar la divulgación no autorizada, modificación, eliminación o destrucción de la información almacenada en los medios de comunicación.</td>
				</tr>
				<tr>
					<td>A.8.3.1 </td>
					<td>Gestión de medios Extraíbles </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Procedimientos se aplicarán para la gestión de medios extraíbles de acuerdo con el esquema de clasificación adoptado por la organización.</td>
				</tr>
				<tr>
					<td>A.8.3.2 </td>
					<td>Retirada de soportes</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Medios deberán ser desechados de forma segura cuando ya no es necesario, utilizando procedimientos formales. </td>
				</tr>
				<tr>
					<td>A.8.3.3 </td>
					<td>Transferencia de medios físicos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los medios que contienen información deben estar protegidos contra el acceso no autorizado, mal uso o corrupción durante el transporte.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.9 Control de acceso</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.9.1 Requisitos del negocio para control de acceso</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para limitar el acceso a las instalaciones de procesamiento de la información y de la información.</td>
				</tr>
				<tr>
					<td>A.9.1.1 </td>
					<td>Política de control de acceso </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se establecerá una política de control de acceso, documentado y revisado en base a los requisitos de seguridad de negocios y de información. </td>
				</tr>
				<tr>
					<td>A.9.1.2 </td>
					<td>Acceso a redes y a los servicios de red </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los usuarios sólo deberán disponer de acceso a los servicios de red y de la red que han sido específicamente autorizados para su uso.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.9.2 Gestión de accesos de usuario</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar el acceso del usuario autorizado y evitar el acceso no autorizado a los sistemas y servicios.</td>
				</tr>
				<tr>
					<td>A.9.2.1</td>
					<td>Registro de usuarios y des-registros </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Un registro de usuario formal y proceso de cancelación de la matrícula se aplicarán para permitir la asignación de derechos de acceso.</td>
				</tr>
				<tr>
					<td>A.9.2.2 </td>
					<td>Provisión de acceso a usuario </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Un proceso de provisión de acceso de usuarios formales se aplicará para asignar o revocar los derechos de acceso para todos los tipos de usuario a todos los sistemas y servicios.</td>
				</tr>
				<tr>
					<td>A.9.2.3 </td>
					<td>Gestión de derechos de acceso privilegiado </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La asignación y utilización de los derechos de acceso preferente se deberá restringirse y controlarse.</td>
				</tr>
				<tr>
					<td>A.9.2.4 </td>
					<td>Gestión de información secreta de autentificación de los usuarios</td>
					<td></td>
					<td></td>
					<td></td>
					<td>La asignación de la información secreta de autenticación se controla a través de un proceso de gestión formal.</td>
				</tr>
				<tr>
					<td>A.9.2.5 </td>
					<td>Revisión de los derechos de acceso a usuario</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los propietarios de activos revisarán los derechos de acceso de los usuarios a intervalos regulares.</td>
				</tr>
				<tr>
					<td>A.9.2.6 </td>
					<td>Eliminación o ajuste de los derecho de acceso </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los derechos de acceso de todos los empleados y los usuarios parte externa a las instalaciones de procesamiento de la información y de la información del reglamento será eliminado después de la terminación de su empleo, contrato o acuerdo, o se ajustan al cambio.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.9.3 Responsabilidades del usuario</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para que los usuarios responsables de salvaguardar su información de autenticación</td>
				</tr>
				<tr>
					<td>A.9.3.1 </td>
					<td>Autentificación secreta </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se exigirá a los usuarios que siguen las prácticas de la organización en el uso de información secreta de autenticación.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.9.4 Control del sistema y acceso a las aplicaciones</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para prevenir el acceso no autorizado a los sistemas y aplicaciones.</td>
				</tr>
				<tr>
					<td>A.9.4.1 </td>
					<td>Restricción del acceso de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>El acceso a las funciones de información y sistema de aplicación se limitará de acuerdo con la política de control de acceso. </td>
				</tr>
				<tr>
					<td>A.9.4.2 </td>
					<td>Procedimiento seguro de inicio de sesión </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Cuando lo exija la política de control de acceso, el acceso a los sistemas y aplicaciones se controla mediante un procedimiento de inicio de sesión seguro. </td>
				</tr>
				<tr>
					<td>A.9.4.3 </td>
					<td>Sistema de gestión de contraseñas </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Sistemas de gestión de contraseña deben ser interactivas y se asegurarán de contraseñas de calidad. </td>
				</tr>
				<tr>
					<td>A.9.4.4 </td>
					<td>Uso de programas utilitarios privilegiados </td>
					<td></td>
					<td></td>
					<td></td>
					<td>El uso de programas de utilidades que podrían ser capaces de sistema y de aplicación controles primordiales será restringido y estrechamente controlado. </td>
				</tr>
				<tr>
					<td>A.9.4.5 </td>
					<td>Control de acceso al código fuente de los programas </td>
					<td></td>
					<td></td>
					<td></td>
					<td>El acceso al código fuente del programa se limitará.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.10 Criptografía</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.10.1 Controles Criptográficos</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar el uso adecuado y efectivo de la criptografía para proteger la confidencialidad, autenticidad y / o integridad de la información.</td>
				</tr>
				<tr>
					<td>A.10.1.1 </td>
					<td>Política de uso de controles criptográfico </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Una política sobre el uso de controles criptográficos para la protección de la información debe ser desarrollado e implementado. </td>
				</tr>
				<tr>
					<td>A.10.1.2 </td>
					<td>Gestión de claves </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Una política sobre el uso, la protección y la duración de las claves criptográficas se desarrolló e implementó a través de todo su ciclo de vida. </td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.11 Seguridad física y ambiental</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.11.1  Áreas seguras</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para prevenir el acceso no autorizado física, daño e interferencia a la información ya las instalaciones de procesamiento de información de la organización.</td>
				</tr>
				<tr>
					<td>A.11.1 .1 </td>
					<td>Perímetro de seguridad física</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Perímetros de protección se definen y se utilizan para proteger áreas que contienen la información y sus instalaciones de procesamiento o bien sensibles o críticos. </td>
				</tr>
				<tr>
					<td>A.11.1 .2 </td>
					<td>Controles físicos de entrada </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las áreas seguras se protegerán mediante controles de entrada adecuados para garantizar que se les permite el acceso únicamente al personal autorizado.</td>
				</tr>
				<tr>
					<td>A.11.1 .3 </td>
					<td>Seguridad de oficinas, despachos e instalaciones </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La seguridad física para oficinas, salas e instalaciones deberá ser diseñado y aplicado.</td>
				</tr>
				<tr>
					<td>A.11.1 .4 </td>
					<td>Protección contra las amenazas externas y al medio ambiente </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La protección física frente a los desastres naturales, ataques maliciosos o accidentes debe ser diseñado y aplicado.</td>
				</tr>
				<tr>
					<td>A.11.1 .5  </td>
					<td>Trabajo en áreas seguras</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Procedimientos para trabajar en las áreas de seguridad deben ser diseñadas y aplicadas.</td>
				</tr>
				<tr>
					<td>A.11.1 .6 </td>
					<td>Zona de entrega y de carga </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los puntos de acceso, tales como las zonas de entrega y de carga y otros puntos en los que las personas no autorizadas puedan entrar en los locales se deberán controlar y, si es posible, aislada de las instalaciones de procesamiento de información para evitar el acceso no autorizado.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.11.2 Equipamiento</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para evitar la pérdida, daño, robo o el compromiso de los activos y la interrupción de las operaciones de la organización.</td>
				</tr>
				<tr>
					<td>A.11.2 .1 </td>
					<td>Emplazamiento y protección  de equipos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>El equipo deberá estar situado y protegido para reducir los riesgos de las amenazas ambientales y los riesgos y las oportunidades de acceso no autorizado.</td>
				</tr>
				<tr>
					<td>A.11.2 .2 </td>
					<td>Instalaciones de soporte </td>
					<td></td>
					<td></td>
					<td></td>
					<td>El equipo deberá estar protegida contra fallas de energía y otras interrupciones causadas por fallas en el apoyo a los servicios públicos.</td>
				</tr>
				<tr>
					<td>A.11.2 .3 </td>
					<td>Seguridad del cableado </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Energía y telecomunicaciones cableado que transporta datos o el apoyo a los servicios de información debe ser protegido contra la intercepción, interferencia o daños.</td>
				</tr>
				<tr>
					<td>A.11.2 .4 </td>
					<td>Mantenimiento de los equipos</td>
					<td></td>
					<td></td>
					<td></td>
					<td>El equipo debe mantenerse correctamente para asegurar su continua disponibilidad e integridad.</td>
				</tr>
				<tr>
					<td>A.11.2 .5 </td>
					<td>Remoción de activos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Equipo, la información o el software no se tomarán fuera del sitio sin la previa autorización.</td>
				</tr>
				<tr>
					<td>A.11.2 .6  </td>
					<td>Seguridad de equipos y activos fuera de las instalaciones</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Seguridad se aplicará a los activos fuera de las instalaciones, teniendo en cuenta los diferentes riesgos de trabajar fuera de los locales de la organización.</td>
				</tr>
				<tr>
					<td>A.11.2 .7 </td>
					<td>Reutilización o retirada segura de equipos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todos los elementos del equipo que contiene los medios de almacenamiento deberán ser verificados para garantizar que los datos sensibles y el software con licencia se ha eliminado o sobrescrito de forma segura antes de su eliminación o reutilización.</td>
				</tr>
				<tr>
					<td>A.11.2 .8 </td>
					<td>Equipo de usuario desatendido </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los usuarios deberán asegurarse de que el equipo desatendido tiene la protección adecuada.</td>
				</tr>
				<tr>
					<td>A.11.2 .9 </td>
					<td>Política de puesto de trabajo despejado y pantalla limpia </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se adoptarán una política de escritorio limpio de papeles y soportes de almacenamiento extraíbles y una política de la pantalla clara para las instalaciones de procesamiento de información.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.12 Seguridad en operaciones</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.12.1 Responsabilidades y procedimientos de operación</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar operaciones correctas y seguras de las instalaciones de procesamiento de información.</td>
				</tr>
				<tr>
					<td>A.12.1.1 </td>
					<td>Documentación de los procedimientos de operación </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los procedimientos de operación deberán ser documentados y puestos a disposición de todos los usuarios que lo necesiten.</td>
				</tr>
				<tr>
					<td>A.12.1.2 </td>
					<td>Gestión de cambios </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los cambios en la organización, los procesos de negocio, instalaciones y sistemas que afectan a la seguridad de información de procesamiento de información deben controlarse.</td>
				</tr>
				<tr>
					<td>A.12.1.3 </td>
					<td>Gestión de capacidades</td>
					<td></td>
					<td></td>
					<td></td>
					<td>El uso de los recursos será supervisada, se ajusta y proyecciones hizo de las futuras necesidades de capacidad para asegurar el rendimiento del sistema requerido.</td>
				</tr>
				<tr>
					<td>A.12.1.4 </td>
					<td>Separación de los entornos de desarrollo, pruebas y operativas </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Desarrollo, pruebas y entornos operativos estarán separados para reducir los riesgos de acceso no autorizado o cambios en el entorno operativo.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.12.2 Protección contra malware</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar que las instalaciones de procesamiento de la información y de la información están protegidos contra el malware.</td>
				</tr>
				<tr>
					<td>A.12.2.1 </td>
					<td>Los controles contra el malware </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Controles de detección, prevención y recuperación para proteger contra el malware se aplicarán, en combinación con el conocimiento del usuario correspondiente.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.12.3 Copia de seguridad</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para evitar la pérdida de datos.</td>
				</tr>
				<tr>
					<td>A.12.3.1</td>
					<td> Copia de seguridad de la información  </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las copias de seguridad de la información, software y sistemas imágenes se tomarán y se prueban regularmente de acuerdo con una política de copia de seguridad acordado.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.12.4 Registro y supervisión</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para registrar eventos y generar evidencia.</td>
				</tr>
				<tr>
					<td>A.12.4.1 </td>
					<td>Registro de eventos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los registros de eventos de grabación de las actividades del usuario, excepciones, fallas e información se producirán los eventos de seguridad, cuidados y revisiones regulares.</td>
				</tr>
				<tr>
					<td>A.12.4.2 </td>
					<td>Protección de la información de registros</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Instalaciones de registro y la información de registro se protegerán contra la manipulación y acceso no autorizado.</td>
				</tr>
				<tr>
					<td>A.12.4.3 </td>
					<td>Registros del administrador y operador </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Actividades del administrador del sistema y gestor de la red serán registrados y sus troncos protegidos y regularmente revisados.</td>
				</tr>
				<tr>
					<td>A.12.4.4 </td>
					<td>Sincronización del reloj </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los relojes de todos los sistemas de procesamiento de información pertinentes dentro de una organización o dominio de seguridad se sincronizan con una sola fuente de tiempo de referencia.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.12.5 Control de software en operación</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar la integridad de los sistemas operativos.</td>
				</tr>
				<tr>
					<td>A.12.5.1 </td>
					<td>Instalación de Software en sistemas operativos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los procedimientos deben ser implementadas para controlar la instalación de software en los sistemas operativos.</td>
				</tr><tr class="verdes">
					<td colspan="6">A.12.6 Gestión de vulnerabilidades técnicas</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para prevenir la explotación de vulnerabilidades técnicas.</td>
				</tr>
				<tr>
					<td>A.12.6.1</td>
					<td> Control de las vulnerabilidades técnicas </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Información acerca de las vulnerabilidades técnicas de los sistemas de información que se utilizan se obtendrá en el momento oportuno, la exposición de la organización a tales vulnerabilidades evaluado y tomado las medidas adecuadas para hacer frente a los riesgos asociados.</td>
				</tr>
				<tr>
					<td>A.12.6.2 </td>
					<td>Restricciones a la instalación de software </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las normas que rigen la instalación de software por los usuarios serán establecidas e implementadas</td>
				</tr>
				</tr><tr class="verdes">
					<td colspan="6">A.12.7  Consideraciones sobre la auditoria de los sistemas de información</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para reducir al mínimo el impacto de las actividades de auditoría en los sistemas operativos</td>
				</tr>
				<tr>
					<td>A.12.7.1 </td>
					<td>Controles de auditoria de los sistemas de información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Requisitos de auditoría y las actividades relacionadas con la verificación de los sistemas operativos deberán ser cuidadosamente planificadas y acordadas para reducir al mínimo las interrupciones de los procesos de negocio. </td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.13 Seguridad en comunicaciones</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.13.1 Gestión de la seguridad de las redes</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar la protección de la información en las redes y sus instalaciones de apoyo de procesamiento de información.</td>
				</tr>
				<tr>
					<td>A.13.1 .1  </td>
					<td>Controles de red</td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Redes deberán ser gestionados y controlados para proteger la información en los sistemas y aplicaciones.</td>
				</tr>
				<tr>
					<td>A.13.1 .2 </td>
					<td>Seguridad de los servicios de red </td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Los mecanismos de seguridad, niveles de servicio y los requisitos de gestión de todos los servicios de la red deben ser identificados e incluidos en los acuerdos de servicios de red, si estos servicios son prestados en la empresa o subcontratados.</td>
				</tr>
				<tr>
					<td>A.13.1 .3 </td>
					<td>Segregación en las redes </td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Grupos de servicios de información, los usuarios y los sistemas de información deberán estar separados de las redes.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.13.2 Transferencia de información</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para mantener la seguridad de información que se transfiere dentro de una organización y con cualquier entidad externa.</td>
				</tr>
				<tr>
					<td>A.13.2.1  </td>
					<td>Políticas y procedimientos de transferencia de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Políticas de transferencia formales, procedimientos y controles deberán estar en su lugar para proteger la transferencia de información a través del uso de todo tipo de instalaciones de comunicación.</td>
				</tr>
				<tr>
					<td>A.13.2.2</td>
					<td> A cuerdos de transferencia de información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Dichos acuerdos deberán dirigirse a la transferencia segura de información comercial entre la organización y las partes externas.</td>
				</tr>
				<tr>
					<td>A.13.2.3  </td>
					<td>Mensajería electrónica </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Información involucrado en la mensajería electrónica será debidamente preservado.</td>
				</tr>
				<tr>
					<td>A.13.2.4 </td>
					<td>Confidencialidad o acuerdos de no revelación </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Requisitos para los acuerdos de confidencialidad o de no divulgación que reflejen las necesidades de la organización para la protección de la información deben ser identificados, revisado y documentado regularmente.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.14 Adquisición, desarrollo y mantenimiento de sistemas</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.14.1 Requisitos de seguridad de los sistemas de información</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar que la seguridad de la información es una parte integral de los sistemas de información a través de todo el ciclo de vida. Esto también incluye los requisitos para los sistemas de información que proporcionan los servicios a través de redes públicas.</td>
				</tr>
				<tr>
					<td>A.14.1.1 </td>
					<td>Análisis y especificación de los requisitos de seguridad de la información </td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Requisitos relacionados con la seguridad de la información se incluirá en los requisitos para los nuevos sistemas de información o mejoras a los sistemas de información existentes.</td>
				</tr>
				<tr>
					<td>A.14.1.2 </td>
					<td>Asegurar servicios de aplicación en redes publicas </td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Información participan en los servicios de aplicaciones que pasan a través de redes públicas, serán protegidos de la actividad fraudulenta, disputa de contrato y la publicación y la modificación no autorizada</td>
				</tr>
				<tr>
					<td>A.14.1.3 </td>
					<td>Proteger transacciones de los servicios de aplicaciones </td>
					<td>SI</td>
					<td></td>
					<td></td>
					<td>Información involucrada en las transacciones de servicios de aplicación debe ser protegido para prevenir la transmisión incompleta, mal enrutamiento, alteración mensaje no autorizado, la divulgación no autorizada, la duplicación de mensajes no autorizada o la reproducción.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.14.2  Seguridad en los procesos de desarrollo y soporte</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar la seguridad de la información que se ha diseñado e implementado en el ciclo de vida de desarrollo de sistemas de información.</td>
				</tr>
				<tr>
					<td>A.14.2.1 </td>
					<td>Política de desarrollo seguro </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Reglas para el desarrollo de software y sistemas se establecerán y aplicarán a la evolución de la organización.</td>
				</tr>
				<tr>
					<td>A.14.2.2 </td>
					<td>Procedimientos de control de cambio del sistema </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los cambios en los sistemas dentro del ciclo de desarrollo deberá realizarse mediante el uso de procedimientos formales de control de cambios.</td>
				</tr>
				<tr>
					<td>A.14.2.3 </td>
					<td>Revisión técnica de las aplicaciones tras efectuar cambios en la plataforma operativa</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Cuando se cambian las plataformas de operación, aplicaciones críticas de negocio deben ser revisados ​​y probados para asegurar que no hay impacto negativo en las operaciones de la organización o de la seguridad.</td>
				</tr>
				<tr>
					<td>A.14.2.4 </td>
					<td>Restricciones  los cambios en los paquetes de software </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las modificaciones a los paquetes de software se pondrán trabas, otros, las modificaciones necesarias y todos los cambios deben ser estrictamente controlados</td>
				</tr>
				<tr>
					<td>A.14.2.5</td>
					<td> Principios de ingeniería de sistema seguro </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Principios para sistemas seguros de ingeniería serán establecidos, documentados, mantenidos y aplicados a todos los esfuerzos de implementación de sistemas de información.</td>
				</tr>
				<tr>
					<td>A.14.2.6</td>
					<td> Entorno de desarrollo seguro </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las organizaciones deberán establecer y proteger adecuadamente los entornos de desarrollo seguro para los esfuerzos de desarrollo e integración de sistemas que cubren todo el ciclo de vida de desarrollo del sistema.</td>
				</tr>
				<tr>
					<td>A.14.2.7 </td>
					<td>Desarrollo externalizado </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La organización debe supervisar y controlar la actividad de desarrollo del sistema tercerizado.</td>
				</tr>
				<tr>
					<td>A.14.2.8 </td>
					<td>Pruebas de seguridad del sistema </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Pruebas de la funcionalidad de seguridad se llevará a cabo durante el desarrollo.</td>
				</tr>
				<tr>
					<td>A.14.2.9</td>
					<td> Pruebas de aceptación del sistema </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Programas de pruebas de aceptación y los criterios conexos se establecerán para los nuevos sistemas de información, actualizaciones y nuevas versiones.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.14.3 Datos de prueba</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar la protección de los datos utilizados para la prueba.</td>
				</tr>
				<tr>
					<td>A.14.3.1  </td>
					<td>Protección de los datos de prueba</td>
					<td>NO</td>
					<td></td>
					<td></td>
					<td>Los datos de prueba deben seleccionarse cuidadosamente, protegidos y controlados.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.15 Relación con proveedores</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.15.1 Seguridad de la información en las relaciones con los proveedores</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar la protección de los activos de la organización que sea accesible por los proveedores.</td>
				</tr>
				<tr>
					<td>A.15.1.1 </td>
					<td>Política de seguridad de la información para las relaciones con los proveedores </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Requisitos de seguridad de la información para la mitigación de los riesgos asociados con el acceso del proveedor a los activos de la organización se acordarán con el proveedor y documentados.</td>
				</tr>
				<tr>
					<td>A.15.1.2 </td>
					<td>Seguridad dentro de los acuerdo con los proveedores</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todos los requisitos de seguridad de la información pertinentes se hayan establecido y acordado con cada proveedor que pueda acceder, procesar, almacenar, comunicar, o proporcionar los componentes de TI de infraestructura para la información de la organización.</td>
				</tr>
				<tr>
					<td>A.15.1.3 </td>
					<td>Información y comunicación de la cadena de suministro de tecnología </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los acuerdos con los proveedores deberán incluir los requisitos para tratar los riesgos de seguridad de información asociados a los servicios de información y tecnología de las comunicaciones y de la cadena de suministro de productos.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.15.2 Gestión de suministros de servicios del proveedor</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para mantener un nivel convenido de seguridad de la información y la prestación de servicios en línea con los acuerdos con proveedores.</td>
				</tr>
				<tr>
					<td>A.15.2.1 </td>
					<td>Monitoreo y revisión de los servicios del proveedor </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Las organizaciones deberán supervisar periódicamente, revisión y auditoría de proveedores la prestación de servicios.</td>
				</tr>
				<tr>
					<td>A.15.2.2 </td>
					<td>Gestión de cambios en los servicio prestados por proveedores </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los cambios en la prestación de servicios por parte de los proveedores, incluyendo el mantenimiento y la mejora de las actuales políticas de seguridad de información, procedimientos y controles, se gestionarán, teniendo en cuenta la criticidad de la información de negocios, sistemas y procesos que intervienen y re-evaluación de los riesgos.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.16 Administración de incidentes de seguridad de la información</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.16.1 Gestión de incidentes de seguridad de la información y mejoras</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar un enfoque coherente y eficaz para la gestión de incidentes de seguridad de la información, incluidos los de comunicación en los eventos de seguridad y debilidades.</td>
				</tr>
				<tr>
					<td>A.16.1.1 </td>
					<td>Responsabilidades y procedimientos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Responsabilidades y procedimientos de manejo deberán ser establecidos para asegurar una respuesta rápida, eficaz y ordenada a los incidentes de seguridad de la información.</td>
				</tr>
				<tr>
					<td>A.16.1.2  </td>
					<td>Notificación de los eventos de seguridad </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los eventos de seguridad de información se comunicarán a través de canales de gestión adecuadas tan pronto como sea posible.</td>
				</tr>
				<tr>
					<td>A.16.1.3 </td>
					<td>Informar sobre los puntos débiles de seguridad de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Se requiere que los empleados y contratistas que utilizan los sistemas y servicios de información de la organización para observar y reportar cualquier debilidad de seguridad de información observadas o sospechadas en los sistemas o servicios.</td>
				</tr>
				<tr>
					<td>A.16.1.4 </td>
					<td>Evaluación y decisión sobre los eventos de seguridad de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los eventos de seguridad de información se evaluará y se decidirá si han de ser clasificados como incidentes de seguridad de la información.</td>
				</tr>
				<tr>
					<td>A.16.1.5 </td>
					<td>Respuesta de incidentes de seguridad de la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Incidentes de seguridad de información deberán recibir una respuesta de conformidad con los procedimientos documentados.</td>
				</tr>
				<tr>
					<td>A.16.1.6 </td>
					<td>Aprendiendo de incidentes de seguridad de  la información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los conocimientos adquiridos a partir del análisis y la resolución de incidentes de seguridad de información se utilizan para reducir la probabilidad o el impacto de los incidentes en el futuro.</td>
				</tr>
				<tr>
					<td>A.16.1.7 </td>
					<td>Recolección de evidencia </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La organización debe definir y aplicar procedimientos para la identificación, recolección, adquisición y conservación de la información, que puede servir como evidencia.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.17 Aspectos de seguridad de la información en la administración de continuidad del negocio					</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A17.1 Continuidad de la seguridad de la información 					</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Información continuidad garantía se incrusta en los sistemas de gestión de continuidad de negocio de la organización.					</td>
				</tr>
				<tr>
					<td>A17.1.1 </td>
					<td>Planificación de la continuidad de la seguridad de información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La organización debe determinar sus necesidades de seguridad de la información y la continuidad de la gestión de seguridad de la información en situaciones adversas, por ejemplo, durante una crisis o desastre.</td>
				</tr>
				<tr>
					<td>A17.1.2 </td>
					<td>Aplicar la continuidad de la seguridad de información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La organización debe establecer, documentar, implementar y mantener procesos, procedimientos y controles para garantizar el nivel necesario de continuidad para la seguridad de la información durante una situación adversa.</td>
				</tr>
				<tr>
					<td>A17.1.3</td>
					<td> Verificar, revisar y evaluar la continuidad de la seguridad de información </td>
					<td></td>
					<td></td>
					<td></td>
					<td>La organización debe verificar los controles de seguridad de la información de continuidad establecido y aplicado a intervalos regulares con el fin de asegurarse de que son válidos y eficaces en situaciones adversas.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.17.2 Redundancia</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para asegurar la disponibilidad de instalaciones de procesamiento de información.</td>
				</tr>
				<tr>
					<td>A.17.2 .1  </td>
					<td>Disponibilidad de instalaciones de tratamiento de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>Instalaciones de procesamiento de información se llevarán a cabo con la suficiente redundancia para satisfacer los requisitos de disponibilidad.</td>
				</tr>
				<tr class="negras">
					<td colspan="6">A.18 Cumplimiento					</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.18.1 Cumplimiento de requisitos legales y contractuales 					</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para evitar incumplimientos de las obligaciones legales, estatutarias, reglamentarias o contractuales en materia de seguridad de la información y de los requisitos de seguridad.					</td>
				</tr>
				<tr>
					<td>A.18.1.1 </td>
					<td>Identificación de la normativa aplicable y de los requisitos contractuales </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Todos los requisitos pertinentes, legislativas, reglamentarias, normativas contractuales y el enfoque de la organización para cumplir con estos requisitos deberán ser identificados de manera explícita, documentan y mantienen actualizados para cada sistema de información y la organización.</td>
				</tr>
				<tr>
					<td>A.18.1.2 </td>
					<td>Derechos de propiedad intelectual (DPI) </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Procedimientos apropiados se aplicarán para garantizar el cumplimiento de requisitos legales, reglamentarios y contractuales relacionados con los derechos de propiedad intelectual y uso de productos de software propietario.</td>
				</tr>
				<tr>
					<td>A.18.1.3 </td>
					<td>Protección de los registros </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los registros deben estar protegidos contra pérdida, destrucción, falsificación, acceso no autorizado y la divulgación no autorizada, de conformidad con los requisitos </td>
				</tr>
				<tr>
					<td>A.18.1.4 </td>
					<td>Protección y privacidad de información de identificación personal </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Privacidad y protección de la información de identificación personal que se garantizará a lo dispuesto en la legislación y la reglamentación en su caso pertinente.</td>
				</tr>
				<tr>
					<td>A.18.1.5 </td>
					<td>Regulación de controles criptográficos </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Controles criptográficos serán utilizados en cumplimiento de todos los acuerdos pertinentes, la legislación y los reglamentos.</td>
				</tr>
				<tr class="verdes">
					<td colspan="6">A.18.2 Revisiones de la seguridad de información 					</td>
				</tr>
				<tr class="grises">
					<td colspan="6">Objetivo de control: Para garantizar la seguridad de la información que se implementa y opera de acuerdo con las políticas y procedimientos de la organización.					</td>
				</tr>
				<tr>
					<td>A.18.2.1 </td>
					<td>Revisión independiente de la seguridad de la información</td>
					<td></td>
					<td></td>
					<td></td>
					<td>El enfoque de la organización para la gestión de seguridad de la información y su aplicación (es decir, los objetivos de control, controles, políticas, procesos y procedimientos para la seguridad de la información) se revisará de forma independiente a intervalos planificados o cuando se producen cambios significativos.</td>
				</tr>
				<tr>
					<td>A.18.2.2 </td>
					<td>Cumplimiento de las políticas y normas de seguridad </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los gerentes deberán comprobar periódicamente el cumplimiento de los procedimientos de procesamiento y la información dentro de su área de responsabilidad con las políticas de seguridad, las normas y otros requisitos de seguridad.</td>
				</tr>
				<tr>
					<td>A.18.2.3</td>
					<td> Revisión del cumplimiento de normas técnicas </td>
					<td></td>
					<td></td>
					<td></td>
					<td>Los sistemas de información deben ser revisados ​​regularmente por el cumplimiento de las políticas y normas de seguridad de la información de la organización.</td>
				</tr>







			</tbody>
		</table>
	</div>
</body>
</html>