../../Testing/capacitaciones/__pycache__/conftest.cpython-311-pytest-8.0.2.pyc
../../Testing/capacitaciones/pages/__pycache__/capacitaciones_page.cpython-311.pyc
../../Testing/capacitaciones/tests/__pycache__/test_capacitaciones.cpython-311-pytest-8.0.2.pyc
