
.nav.nav-tabs{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-item .nav-link.active{
    background-color: unset !important;
    color: #fff !important;
    background-color: rgb(100, 100, 100) !important;
    border-radius: 10px !important;
    padding: 20px !important;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.nav-tabs .nav-item .nav-link span{
    text-align: right;
    font-size: 16px;
}
.nav-tabs .nav-item .nav-link i{
    font-size: 30px !important;
}

.tarjetas_seguridad_indicadores{
    display: none;
}

.box-sentimientos{
    flex-direction: row !important;
    gap: 20px;
    justify-content: space-between;
    flex-basis: 1;
}
.card-sentimiento{
    border: 1px solid #DBDBDB;
    flex-basis: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
}
.card-sentimiento span{
    color: #3086AF;
    font-weight: bolder;
    font-size: 13px;
}

.cards-status-centro-atencion{
    display: flex;
    gap: 20px;
}

.card-status-centro{
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: #DBDBDB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.card-status-centro i{
    font-size: 40px;
}
.card-status-centro .info{
    text-align: right;
}

table {
    width: auto;
    height: auto;
}
.textoCentroCard {
    font-size: 12pt !important;
}
