.dark{
    background-color: #181924 !important;
    color: #888;
    border-color: rgba(0,0,0,0);
}
ul, div img, .card{
	transition: 0s;
}

body.dark .dark_mode1{
    background-color: #2a2b36;
    color: #fff;
}
body.dark .card{
    background-color: #2a2b36 !important;
    color: #fff;
    border-color: rgba(0,0,0,0);
}
body.dark .card-header{
    background-color: #2a2b36 !important;
    color: #fff;
}

body.dark .table{
    background-color: #2a2b36;
    color: #fff;
}
body.dark .table tr:nth-child(odd){
    background-color: #556377;
}
body.dark .table tr:nth-child(even){
	background-color: #4b5265;
}

body.dark .table tr:hover{
	background-color: rgba(255,255,255,0.4);
	color: #fff;
}

body.dark .ventana{
    background-color: #2a2b36;
    color: #fff;
}

.dark *{
    color: #fff;
}






