.card {
    border-radius:16px;
}
.content-limit {
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: 0px;
}

.caja-carrusel {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.carrusel-infinito {
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    align-items: start;
    gap: 20px;
    overflow: hidden;
    /* padding: 5px 0px; */
}

.arrow-carrusel-izq,
.arrow-carrusel-der {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

.arrow-carrusel-izq {
    justify-content: flex-start;
}

.arrow-carrusel-der {
    justify-content: flex-end;
}

.item-carrusel {
    min-width: 239px;
    width: 278px;
    height: auto;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card-carrusel {
    width: 100%;
    height: 77px;
    margin-bottom: 0px;
    background-color: #3889AD !important;
    color: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    box-shadow: 0px 1px 4px #0000000F;
    transition: background-color 0.3s ease-in-out;
}
.card-carrusel.selected {
    background-color: #3AAE65 !important;
}
.card-carrusel:hover {
    background-color: #12B2A7 !important;
}
.nombre-templates {
    transition: transform 0.3s ease-out, text-shadow 0.3s ease-out;
}

.nombre-templates:hover {
    transform: translateX(15px);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.datatable-rds td {
    border-bottom: none !important;
}

.rounded-card {
    border-radius: 16px;
}

.title-carrucel {
    text-align: left;
    font: normal normal normal 20px/20px Roboto;
    letter-spacing: 0px;
    color: #306BA9;
    opacity: 1;
}

.title-form {
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
}

.title-list {
    text-align: left;
    font: normal normal medium 23px/30px Roboto;
    letter-spacing: 0px;
    color: #5A5A5A;
    opacity: 1;
}

a.btn-show-todos, a.btn-show-todos:hover {
    color: #057BE2 !important;
    width: 188px;
    height: 26px;
    padding: 15px 111px;
    background: #DEF9FF;
    border: 1px solid #057BE2;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 115px;
    margin-bottom: 14px;
    white-space: nowrap;
}
.btn-show-todos span {
    margin-left: 6px;
    font-size: 16px;
}

.input-fecha {
    background: #EBF9FF;
}

.hr-custom {
    width: 100%;
    border-width: 1px;
    border-color: #C5C5C5;
    margin-top: 5px;
    margin-bottom: 0px;
}

.container-items {
    display: flex;
    justify-content: center;
    gap:31px 15px;
    flex-wrap: wrap;
    width: auto;
    margin-top: 36px;
}

.list-item {
    width: 250px;
    max-width: 250px;
    min-height: 231px;
    background: #FFFFFF!;
    box-shadow: 0px 1px 4px #00000024;
    border-radius: 16px;
    opacity: 1;
    margin-bottom: 0px;
}

.item-header {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.item-title {
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0489FE;
    opacity: 1;
    margin: 0px;
}

.item-name {
    font: normal normal medium 16px/20px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
    margin: 0px;
}

.item-norma {
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #818181;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 0px;
}

.caja-options{
    z-index: 1;
    width: 100px !important;
    padding: 10px;
    margin-bottom: 0px;
    margin-right: -10px;
    top: 45px;
}

.options .caja-options {
    display: none;
}

.options:hover .caja-options {
   display: flex;
}

.icon-option{
    font-size: 20px;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #006DDB !important;
    color: #FFFFFF !important;
}
