.c-wrapper {
    max-width: 100% !important;
}

.menu-pasarela {
    width: 300px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    overflow: auto;

}

.menu-pasarela li {
    list-style: none;
    margin-bottom: 20px;

}

.menu-pasarela li i {
    width: 30px;
}

.content-pasarela {
    margin-left: 340px;
}

.portada-pasarela {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #575757;
    justify-content: center;
}

.portada-pasarela img {
    object-fit: contain;
    height: 100%;
}

.portada-pasarela-info {
    width: 100%;
}

.instaladas .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-background{
    width: 65px;
    height: 65px;
    background-color: rgb(194, 194, 165);
    color: #5A5A5A;
    padding: 20px;
    border-radius: 15px;
    font-size: 35px !important;
    border: 1px solid #AAAAAA;
}

.instaladas .card h5{
    font-size: 18px;
}
.instaladas .card .btn{
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    padding: 6px 20px;
    color: #787878;
}
