.template-title{
    text-align: left;
    font: normal normal medium 26px/20px Roboto;
    letter-spacing: 0px;
    color: var(--color-tbj);
    opacity: 1;
}

.template-norma, .template-description{
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #575757;
    opacity: 1;
}
