.caja-cards-mis-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.caja-info-card-mc {
    padding: 0px 15px;
}

.card.mi-curso {
    max-width: 418px;
    height: auto;
    padding: 0px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 4px #00000024;
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    opacity: 1;
}

.card.mi-curso img {
    width: 100%;
}

.card.mi-curso p {
    margin: 0px;
    margin-top: 15px;
}

.caja-img-mi-curso {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso-progreso-barra {
    height: 10px;
    border-radius: 100px;
    background-color: #E2E2E2;
    margin-top: 6px;
    position: relative;
}

.indicador-progreso-barra {
    position: absolute;
    background-color: var(--color-tbj);    border-radius: 100px;
    height: 100%;
}

.caja-selects-catalogo {
    margin-top: 30px;
}

.caja-selects-catalogo select {
    background-color: #fff;
    color: #6A6A6A;
    border-radius: 6px;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
}

.caja-selects-catalogo form {
    display: inline;
}

.mi-c-catalogo-card {
    width: 320px;
}

.title-main-cursos {
    text-align: left;
    font: normal normal 600 22px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn-mas-info-c {
    background-color: #1E94A8;
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
}

.btn-mas-info-c:hover {
    color: #fff;
}

.course-teacher {
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
    margin-top: 2px !important;
}

.course-title {
    text-align: left;
    font: normal normal medium 16px/11px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn-mi-course {
    margin-top: 50px;
    width: 100%;
}

.curso-progreso-barra {
    height: 10px;
    border-radius: 100px;
    background-color: #E2E2E2;
    margin-top: 6px;
    position: relative;
}

.indicador-progreso-barra {
    position: absolute;
    background-color: #A3C5FF;
    /* border-radius: 100px; */
    height: 100%;
    border-radius: 8px;
    opacity: 1;
}

.title-advance {
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: var(--color-tbj);    opacity: 1;
}

.caja-info-card-advance {
    margin: 0px;
    padding: 0px;
}

iframe {
    height: 300px;
    border-radius: 8px !important;
}

.title-modal {
    text-align: left;
    font: normal normal medium 22px/21px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
    margin-top: 21px;
}

.instructor-modal {
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
}

.aprendizaje-modal {
    text-align: left;
    font: normal normal medium 18px/21px Roboto;
    letter-spacing: 0px;
    color: #606060;
    opacity: 1;
    margin-top: 41px !important;
}

.option-fixed-admin {
    width: 90px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -80px;
    z-index: 10;
    background-color: var(--color-tbj);
    border: 1px solid #bdbdbd;
    color: #fff;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
    transform: translateX(calc(-100% + 25px));
}

.option-fixed-admin:hover {
    transform: translateX(0px);
    border: 1px solid #25ACC1;
    background-color: #fff;
    color: #656565;
}

.option-fixed-admin img {
    width: 30px;
    transition: 0.07s;
}

.option-fixed-admin a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6c6c6c !important;
    font-size: 10px;

    transition: 0.1s;
    opacity: 0;
}

.option-fixed-admin:hover a {
    transition: 0.3s;
    opacity: 1;
}

.option-fixed-admin img:hover {
    transform: scale(1.1);
}

.option-fixed-admin i {
    font-size: 20px;
}

.option-fixed-admin:hover i {
    opacity: 0;
}

.last-course {
    box-shadow: 0px 1px 4px #00000024;
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    opacity: 1;
}

.btn-last-course,
.btn-last-course:hover {
    margin-top: 25px;
    background: #006DDB 0% 0% no-repeat padding-box;
    border-radius: 6px;
    text-align: left;
    font: normal normal medium 14px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.content-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
